<%= link_to page_path(space.identifier, page.number) do %>
  <%= render BaseUI::CardComponent.new(class_name: build_card_class) do |card| %>
    <%= card.with_body do %>
      <% if page.pinned? %>
        <%= render BaseUI::IconComponent.new(name: "push-pin-filled", size: "18px", class_name: "-right-1 -top-1 absolute fill-amber-800") %>
      <% end %>

      <div class="flex flex-col gap-1">
        <% if show_topic_name? %>
          <div class="flex items-center gap-1">
            <%= render Icons::TopicComponent.new(topic:, size: "12px", class_name: "fill-gray-500") %>

            <div class="text-xs text-gray-500">
              <% if show_space_name? %>
                <%= space.name %> / <%= topic.name %>
              <% else %>
                <%= topic.name %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="line-clamp-3 text-sm font-bold">
          <%= page.title %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
