<%= link_to topic_path do %>
  <%= render BaseUI::CardComponent.new(class_name: build_card_class) do |card| %>
    <%= card.with_body do %>
      <div class="flex flex-col gap-2">
        <div class="line-clamp-2 text-sm font-bold">
          <%= topic.name %>
        </div>

        <% if topic.description.present? %>
          <div class="text-muted line-clamp-2 text-xs">
            <%= topic.description %>
          </div>
        <% end %>

        <div class="text-muted mt-auto text-xs">
          <%= t("nouns.view_topic") %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
