<%= render Layouts::SimpleComponent.new(current_page_name:) do %>
  <div class="flex flex-col gap-8 px-4 py-12">
    <div class="text-center">
      <%= link_to root_path, class: "inline-block bg-brand-100 rounded-lg" do %>
        <%= render BaseUI::IconComponent.new(name: "logo", size: "80px", class_name: "fill-black") %>
      <% end %>
    </div>

    <div class="text-center">
      <h1 class="text-2xl font-bold antialiased">
        <%= title %>
      </h1>
    </div>

    <%= render BaseUI::CardComponent.new do |card| %>
      <%= card.with_body(class_name: "p-4") do %>
        <div class="flex flex-col gap-4">
          <p>
            <%= t("messages.two_factor_auth.enter_code") %>
          </p>

          <%= form_with(
            class: "form grid gap-6",
            model: form,
            url: sign_in_two_factor_path
          ) do |f| %>
            <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

            <div class="grid gap-2">
              <%= render BaseUI::LabelComponent.new(form_builder: f, method: :totp_code) %>

              <%= f.text_field :totp_code, {
                maxlength: 6,
                placeholder: "000000",
                autocomplete: "one-time-code",
                autofocus: true
              } %>

              <p class="text-muted-foreground text-sm">
                <%= t("messages.two_factor_auth.code_hint") %>
              </p>
            </div>

            <%= f.button(
              class: "btn rounded-full w-fit",
              type: :submit,
              tabindex: 3
            ) do %>
              <%= t("verbs.verify") %>
            <% end %>
          <% end %>

          <hr>

          <div class="flex flex-col gap-2 text-sm">
            <p>
              <%= t("messages.two_factor_auth.recovery_description") %>
            </p>

            <%= link_to sign_in_two_factor_new_recovery_path, class: "underline" do %>
              <%= t("messages.two_factor_auth.recovery") %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="text-center">
      <%= link_to root_path, class: "btn btn-outline btn-sm border-gray-500 text-gray-500 rounded-full group" do %>
        <%= render BaseUI::IconComponent.new(name: "arrow-left-regular", size: "18px", class_name: "fill-gray-500 group-hover:fill-primary-foreground") %>

        <%= t("verbs.back_to_home") %>
      <% end %>
    </div>
  </div>
<% end %>
