<nav class="hidden sticky lg:block lg:w-[240px]">
  <div class="p-4">
    <div class="font-bold text-xs">
      <%= t("nouns.lists") %>
    </div>

    <ul class="mt-2">
      <% joined_lists.each do |list| %>
        <li>
          <%= link_to list_path(viewer!.space_identifier, list.number) do %>
            <%= list.name %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to t("nouns.new_list"), new_list_path(viewer!.space_identifier) %>

    <hr class="border-stone-600 my-4">
  </div>
</nav>

<nav class="hidden sticky sm:max-lg:block sm:max-lg:w-[80px]">
  <div class="p-4">
    <div class="flex flex-col gap-4">
      <%= link_to space_path do %>
        Home
      <% end %>
    </div>
  </div>
</nav>
