<nav class="bg-base-200 sticky">
  <div class="hidden lg:block lg:w-[240px]">
    <div class="flex flex-col gap-4 p-4">
      <%= link_to root_path, {
        data: {turbo_action: "advance", turbo_frame: "main-content"}
      } do %>
        <%= render Nonoto::UI::Icon.new(name: "logo", size: "24px", class_name: "fill-white") %>
      <% end %>

      <div>
        <input class="input input-bordered" type="text" placeholder="Search...">
      </div>

      <ul class="flex flex-col gap-2">
        <li>
          <%= link_to space_path, {
            class: "flex gap-2 items-center",
            data: {turbo_action: "advance", turbo_frame: "main-content"}
          } do %>
            <%= render Nonoto::UI::Icon.new(name: "house", size: "18px", class_name: "fill-white") %>

            <%= t("nouns.home") %>
          <% end %>
        </li>
      </ul>

      <div>
        <div class="flex flex-col gap-2">
          <div class="font-bold text-xs">
            <%= t("nouns.topics") %>
          </div>

          <turbo-frame
            id="joined_topics"
            loading="lazy"
            src="<%= frame_joined_topics_path %>"
          ></turbo-frame>
        </div>

        <%= link_to t("nouns.new_topic"), new_topic_path(viewer!.space_identifier), {
          data: {turbo_action: "advance", turbo_frame: "main-content"}
        } %>
      </div>

      <hr class="border-stone-600">

      <ul>
        <% if signed_in? %>
          <li>
            <%= button_to t("nouns.sign_out"), session_path(space_identifier: viewer!.space_identifier), {
              method: :delete
            } %>
          </li>
        <% else %>
          <li>
            <%= link_to t("nouns.sign_up"), sign_up_path %>
          </li>

          <li>
            <%= link_to t("nouns.sign_in"), sign_in_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="hidden sm:max-lg:block sm:max-lg:w-[56px]">
    <div class="flex flex-col gap-4 p-4">
      <%= link_to root_path do %>
        <%= render Nonoto::UI::Icon.new(name: "logo", size: "24px", class_name: "fill-white") %>
      <% end %>

      <%= link_to space_path do %>
        <%= render Nonoto::UI::Icon.new(name: "house", size: "24px", class_name: "fill-white") %>
      <% end %>
    </div>
  </div>
</nav>
