<aside class="<%= class_names("bg-base-200 h-screen order-first sticky top-0", class_name) %>">
  <div class="hidden lg:flex lg:flex-col lg:gap-2 lg:p-2 lg:w-[240px]">
    <div class="flex gap-2 items-center p-2">
      <%= link_to root_path, {
        data: {turbo_action: "advance", turbo_frame: "main-content"}
      } do %>
        <%= render Wikino::UI::Icon.new(name: "logo", size: "36px", class_name: "fill-white") %>
      <% end %>

      <% if signed_in? %>
        <%= render Dropdowns::AccountSwitchDropdownComponent.new %>
      <% else %>
        <div class="font-bold text-slate-300 text-sm">
          <%= Current.space!.identifier %>
        </div>
      <% end %>
    </div>

    <div class="flex flex-col gap-4 overflow-y-auto">
      <% if signed_in? %>
        <div class="px-2">
          <input
            class="bg-transparent border-slate-400 focus:border-slate-200 input text-slate-200 transition w-full"
            type="text"
            placeholder="Search..."
          >
        </div>
      <% end %>

      <ul class="flex flex-col gap-4">
        <li>
          <%= link_to home_path, {
            class: "text-slate-300 flex gap-2 hover:bg-slate-800 hover:rounded hover:text-slate-200 items-center p-2 w-full",
            data: {turbo_action: "advance", turbo_frame: "main-content"}
          } do %>
            <%= render Wikino::UI::Icon.new(name: "house", size: "18px", class_name: "fill-slate-200") %>

            <%= t("nouns.home") %>
          <% end %>
        </li>
      </ul>

      <% if signed_in? %>
        <div class="flex flex-col gap-2">
          <div class="font-bold px-2 text-slate-400 text-xs">
            <%= t("nouns.topics") %>
          </div>

          <div class="flex flex-col h-full">
            <turbo-frame
              id="joined_topics"
              loading="lazy"
              src="<%= frame_joined_topic_list_path %>"
            ></turbo-frame>

            <%= link_to new_topic_path, {
              class: "text-slate-300 flex gap-2 hover:bg-slate-800 hover:rounded hover:text-slate-200 items-center p-2 w-full",
              data: {turbo_action: "advance", turbo_frame: "main-content"}
            } do %>
              <%= render Wikino::UI::Icon.new(name: "plus", size: "18px", class_name: "fill-slate-200") %>

              <%= t("nouns.new_topic") %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if signed_in? %>
        <hr class="border-stone-600">
      <% end %>

      <ul class="flex flex-col gap-4">
        <% if signed_in? %>
          <li>
            <%= button_to session_path, {
              class: "text-slate-300 flex gap-2 hover:bg-slate-800 hover:rounded hover:text-slate-200 items-center p-2 w-full",
              method: :delete
            } do %>
              <%= render Wikino::UI::Icon.new(name: "sign-out", size: "18px", class_name: "fill-slate-200") %>

              <%= t("nouns.sign_out") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="hidden sm:max-lg:block sm:max-lg:w-[56px]">
    <div class="flex flex-col gap-4 p-4">
      <%= link_to root_path do %>
        <%= render Wikino::UI::Icon.new(name: "logo", size: "24px", class_name: "fill-white") %>
      <% end %>

      <%= link_to home_path do %>
        <%= render Wikino::UI::Icon.new(name: "house", size: "24px", class_name: "fill-white") %>
      <% end %>
    </div>
  </div>
</aside>
