<div>
  <%= t("nouns.links") %>
</div>

<ul class="mt-2">
  <% links.each do |link| %>
    <li>
      <%= render Cards::NoteCardComponent.new(note: link.note) %>
    </li>

    <% link.backlinked_notes.each do |note| %>
      <li>
        <%= render Cards::NoteCardComponent.new(note:) %>
      </li>
    <% end %>
  <% end %>
</ul>

<div>
  <%= t("nouns.backlinks") %>
</div>

<ul class="mt-2">
  <% backlinks.each do |backlink| %>
    <li>
      <%= render Cards::NoteCardComponent.new(note: backlink.note) %>
    </li>
  <% end %>
</ul>
