<% title = t("meta.title.notes.edit") %>
<% set_meta_tags(title: "#{title} | #{viewer!.space_name}") %>

<%= render ::Layouts::BasicLayoutComponent.new(joined_lists: @joined_lists) do %>
  <div class="flex flex-row gap-4 p-4">
    <div class="basis-3/4">
      <h1 class="antialiased font-semibold text-2xl">
        <%= title %>
      </h1>

      <% if @draft_note.present? %>
        <div class="alert alert-warning" role="alert">
          現在下書きを表示しています
        </div>
      <% end %>

      <%= render Nonoto::UI::Card.new(class_name: "mt-8") do %>
        <%= render Nonoto::UI::Card::Body.new do %>
          <%= form_with model: @form, method: :patch, url: note_path(viewer!.space_identifier, @note.number) do |f| %>
            <%= render Cards::FormErrorsCardComponent.new(errors: f.object.errors) %>

            <div>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.edit_note_form.list_number") %>
                </span>
              </div>

              <div class="flex flex-col gap-4">
                <div>
                  <label class="cursor-pointer flex gap-2 items-center">
                    <%= f.select(
                      :list_number,
                      options_from_collection_for_select(f.object.viewable_lists, :number, :name, f.object.list_number)
                    ) %>
                  </label>
                </div>
              </div>
            </div>

            <%= f.label :title, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.edit_note_form.title") %>
                </span>
              </div>

              <%= f.text_field(:title, class: "input input-bordered w-full") %>
            <% end %>

            <%= f.label :body, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.edit_note_form.body") %>
                </span>
              </div>

              <%= f.text_area(:body, class: "input input-bordered w-full") %>
            <% end %>

            <div class="mt-8 text-center">
              <%= f.button class: "btn btn-primary no-animation rounded-full", type: :submit do %>
                <%= t("verbs.save") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="basis-1/4">
      <%= render Sidebars::NoteSidebarComponent.new(link_list: @link_list, backlink_list: @backlink_list)  %>
    </div>
  </div>
<% end %>
