<div class="flex flex-col gap-3">
  <%= form_builder.label :visibility %>

  <fieldset class="grid gap-3">
    <div class="flex flex-col gap-2">
      <label class="flex cursor-pointer items-center gap-2">
        <%= form_builder.radio_button :visibility, TopicVisibility::Public.serialize, {
          class: "radio"
        } %>

        <span class="flex items-center gap-1">
          <%= render BaseUI::IconComponent.new(name: "globe", size: "16px") %>
          <%= t("activerecord.attributes.topic.visibility.public") %>
        </span>
      </label>

      <div class="text-muted-foreground text-sm pl-[25px]">
        <%= t("forms.attributes.topic_form/creation.visibility_public_hint") %>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label class="flex cursor-pointer items-center gap-2">
        <%= form_builder.radio_button :visibility, TopicVisibility::Private.serialize, {
          class: "radio"
        } %>

        <span class="flex items-center gap-1">
          <%= render BaseUI::IconComponent.new(name: "lock", size: "16px") %>
          <%= t("activerecord.attributes.topic.visibility.private") %>
        </span>
      </label>

      <div class="text-muted-foreground text-sm pl-[25px]">
        <p>
          <%= t("forms.attributes.topic_form/creation.visibility_private_hint") %>
        </p>

        <p class="font-bold">
          <%= t("forms.attributes.topic_form/creation.visibility_private_hint_2_html",
            learn_more_link: render(
              BaseUI::LinkComponent.new(
                variant: BaseUI::LinkComponent::Variant::Underline,
                options: {
                  href: "https://wikino.app/s/wikino/pages/38",
                  target: "_blank"
                }
              ).with_content(t("messages._common.learn_more"))
            )
          ) %>
        </p>
      </div>
    </div>
  </fieldset>
</div>
