<turbo-frame id="<%= turbo_frame_id %>">
  <div class="flex flex-col">
    <% @topics.each do |topic| %>
      <div class="group relative flex items-center hover:bg-brand-200/70 transition duration-200 ease-in-out rounded-md">
        <%= link_to new_page_path(topic.space.identifier, topic.number), {
          class: "absolute right-2 top-1/2 -translate-y-1/2 p-2 rounded-md leading-none text-center hover:bg-brand-300/70 transition duration-200 ease-in-out z-10 touch:block non-touch:hidden non-touch:group-hover:block",
          title: t("verbs.create_page"),
          data: { turbo_frame: "_top" }
        } do %>
          <%= render BaseUI::IconComponent.new(name: "pencil-simple-line", size: "16px", class_name: "fill-gray-700") %>
        <% end %>

        <%= link_to topic_path(topic.space.identifier, topic.number), {
          class: "text-gray-700 flex items-center gap-2 p-2 rounded-md w-full",
          title: topic.name,
          data: { turbo_frame: "_top" }
        } do %>
          <div class="w-[22px]">
            <%= render Icons::TopicComponent.new(topic:, size: "22px", class_name: "fill-gray-600") %>
          </div>

          <div class="flex flex-col pr-8">
            <div class="line-clamp-1 text-xs text-gray-500">
              <%= topic.space.name %>
            </div>

            <div class="line-clamp-1 text-sm">
              <%= topic.name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</turbo-frame>
