<% content_for :page_title, page_title_with_suffix(t("page_titles.appearance_list")) %>

<div class="container py-3">
  <div
    class="list-group"
  >
    <button
      class="list-group-item list-group-item-action <%= 'active' if color_scheme == 'light' %>"
      data-action="appearance-switcher#setLight"
      type="button"
    >
      <%= t "nouns.light" %>
    </button>
    <button
      class="list-group-item list-group-item-action <%= 'active' if color_scheme == 'dark' %>"
      data-action="appearance-switcher#setDark"
      type="button"
    >
      <%= t "nouns.dark" %>
    </button>
    <button
      class="list-group-item list-group-item-action <%= 'active' if color_scheme == 'system-default' %>"
      data-action="appearance-switcher#setSystemDefault"
      type="button"
    >
      <%= t "nouns.system_default" %>
    </button>
  </div>
</div>
