<% content_for :page_title, "Nonoto" %>

<h1>Hi, <%= current_user.email %>!</h1>

<%= link_to t("nouns.sign_out"), sign_out_path, method: :delete %>

<%= link_to t("page_titles.new_note"), new_note_path %>

<ul>
  <% @note_entities.each do |note_entity| %>
    <li>
      <%= link_to note_detail_path(note_id: note_entity.database_id) do %>
        <%= note_entity.title %>
      <% end %>
    </li>
  <% end %>
</ul>
