<% content_for :page_title, page_title_with_suffix(t("page_titles.note", note_title: @note_entity.title)) %>

<div class="container-fluid">
  <div
    class="d-none"
    data-controller="note-preview"
  >
    <%= @note_entity.body_html.html_safe %>
  </div>
  <div class="row">
    <div class="col-8 px-0">
      <div class="c-editor">
        <div
          class="h-100"
          data-controller="editor"
          data-editor-note-database-id="<%= @note_entity.database_id %>"
          data-editor-note-body="<%= @note_entity.body %>"
        >
        </div>
      </div>
    </div>

    <div class="col-4 py-3">
      <h2 class="h4">
        <%= t "nouns.links" %>
      </h2>

      <div data-controller="note-links">
        <%= render LinksComponent.new(note_entity: @note_entity) %>
      </div>

      <hr>

      <h2 class="h4">
        <%= t "nouns.backlinks" %>
      </h2>

      <div data-controller="note-backlinks">
        <%= render BacklinksComponent.new(link_entities: @note_entity.backlinks) %>
      </div>

      <hr>

      <h2 class="h4">
        <%= t "nouns.info" %>
      </h2>

      <dl>
        <dt class="font-weight-bold small text-muted text-uppercase">
          <%= t "nouns.updated_at" %>
        </dt>
        <dd>
          <div
            class="c-note-time"
            data-controller="note-time"
            data-note-time-init-time="<%= @note_entity.updated_at %>"
          ></div>
        </dd>
      </dl>

      <hr>

      <h2 class="h4">
        <%= t "nouns.actions" %>
      </h2>

      <ul class="list-unstyled">
        <li>
          <%= link_to note_path(@note_entity.database_id), method: :delete, data: { confirm: t("messages.note.are_you_sure_delete") } do %>
            <i class="fal fa-trash-alt mr-1"></i>
            <%= t "messages.note.delete_note" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
