<div <%= tag.attributes(class: class_name) %>>
  <div class="hidden lg:block sticky top-0 z-global-header">
    <%= render Navbars::TopComponent.new(current_user:) %>
  </div>

  <div class="flex flex-col gap-4">
    <div class="mx-auto w-full max-w-screen-lg">
      <%= content %>
    </div>

    <% unless signed_in? %>
      <%= render Footers::PublicComponent.new %>
    <% end %>
  </div>

  <div class="fixed bottom-0 left-1/2 z-50 flex translate-x-[-50%] flex-col gap-4 p-4">
    <%= render Toasts::FlashComponent.new(flash:) %>
    <%= render Navbars::BottomComponent.new %>
  </div>
</div>
