<div class="flex">
  <div class="flex min-h-[100svh] w-full flex-col overflow-y-auto pb-[100px] sm:max-lg:w-[calc(100%-56px)] lg:w-[calc(100%-240px)]">
    <div class="mx-auto w-full max-w-screen-lg flex-1">
      <%= content %>

      <% unless signed_in? %>
        <div class="mt-4">
          <%= render Footers::PublicFooterComponent.new %>
        </div>
      <% end %>
    </div>
  </div>

  <%# サイドバー内のドロップダウンがメインコンテンツより下にならないようにするため order-first を使用している %>
  <%= render Views::Components::Sidebars::Main.new(class_name: "order-first") %>
</div>

<div class="fixed bottom-0 left-1/2 z-50 flex translate-x-[-50%] flex-col gap-4 p-4">
  <%= render Views::Components::Toasts::Flash.new(flash:) %>
  <%= render Views::Components::Navbars::Bottom.new %>
</div>
