<%= render ::Layouts::SimpleComponent.new(current_page_name:) do %>
  <div class="flex flex-col gap-8 px-4 py-12">
    <div class="text-center">
      <%= link_to root_path, class: "inline-block bg-brand-100 rounded-lg" do %>
        <%= render BaseUI::IconComponent.new(name: "logo", size: "80px", class_name: "fill-black") %>
      <% end %>
    </div>

    <div class="text-center">
      <h1 class="text-2xl font-bold antialiased">
        <%= t("meta.title.password_resets.new") %>
      </h1>

      <p class="mt-4">
        <%= t("messages.password_resets.enter_your_email_html") %>
      </p>
    </div>

    <%= render BaseUI::CardComponent.new do |card| %>
      <%= card.with_body(class_name: "px-4") do %>
        <%= form_with(
          class: "form grid gap-6",
          model: form,
          url: password_reset_path
        ) do |f| %>
          <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

          <div class="grid gap-2">
            <%= f.label :email %>

            <%= f.email_field(:email, {
              autocomplete: "username",
              autofocus: true,
              required: true
            }) %>
          </div>

          <%= f.button class: "btn btn-primary rounded-full w-fit", type: :submit do %>
            <%= render BaseUI::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-foreground") %>

            <%= t("verbs.submit") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="text-center">
      <%= render BaseUI::LinkComponent.new(
        variant: BaseUI::LinkComponent::Variant::Underline,
        options: {href: root_path}
      ) do %>
        <%= render BaseUI::IconComponent.new(name: "arrow-left-regular", size: "18px", class_name: "fill-primary-background") %>

        <%= t("verbs.back_to_home") %>
      <% end %>
    </div>
  </div>
<% end %>
