<%= render Layouts::Column1Component.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_page_name:, current_user:) %>
  <% end %>

  <%= layout.with_main do %>
    <%= render BaseUI::ContainerComponent.new(
      as: BaseUI::ContainerComponent::As::Main,
      options: {class: "flex flex-col gap-6 px-4"}
    ) do %>
      <div class="flex flex-col gap-6">
        <%= render Headers::MainTitleComponent.new(title:) do |main_title| %>
          <%= main_title.with_subtitle do %>
            <%= subtitle %>
          <% end %>

          <% if can_edit_profile? %>
            <%= main_title.with_actions do %>
              <div class="flex items-center gap-2">
                <%= link_to settings_profile_path, {
                  class: "btn btn-sm rounded-full"
                } do %>
                  <%= render BaseUI::IconComponent.new(
                    name: "pencil-simple-line",
                    size: "18px",
                    class_name: "fill-primary-foreground"
                  ) %>

                  <%= t("nouns.edit_profile") %>
                <% end %>

                <%= link_to settings_path, {
                  class: "btn-sm-ghost border border-primary rounded-full hover:bg-primary hover:text-primary-foreground group flex gap-2 items-center"
                } do %>
                  <%= render BaseUI::IconComponent.new(
                    name: "gear-regular",
                    size: "18px",
                    class_name: "fill-primary group-hover:fill-primary-foreground"
                  ) %>

                  <%= t("nouns.settings") %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% if user.description.present? %>
          <div>
            <%= user.description %>
          </div>
        <% end %>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="font-bold antialiased">
          <%= t("nouns.joined_spaces") %>
        </h2>

        <% if joined_spaces.present? %>
          <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
            <% joined_spaces.each do |space| %>
              <%= render CardLinks::SpaceComponent.new(space:) %>
            <% end %>
          </div>
        <% else %>
          <%= render BaseUI::EmptyStateComponent.new(
            icon_name: "file",
            message: t("messages.home.no_joined_spaces_html")
          ) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: signed_in?) %>
  <% end %>
<% end %>
