<%= render ::Layouts::SimpleComponent.new(current_page_name:) do %>
  <div class="flex flex-col gap-8 px-4 py-12">
    <div class="text-center">
      <%= link_to root_path, class: "inline-block bg-brand-100 rounded-lg" do %>
        <%= render Basic::IconComponent.new(name: "logo", size: "80px", class_name: "fill-black") %>
      <% end %>
    </div>

    <div class="text-center">
      <h1 class="text-3xl font-bold antialiased">
        <%= title %>
      </h1>

      <p class="mt-4 hidden">
        <%= t("messages.sign_up.description_html") %>
      </p>

      <p class="mt-4 font-bold text-red-500">
        現在アカウント作成はできません。
      </p>

      <p class="mt-4 hidden">
        <%= t("messages.sign_up.already_have_an_account_html", sign_in_path:) %>
      </p>
    </div>

    <%= render Basic::CardComponent.new(class_name: "bg-base-300") do |card| %>
      <%= card.with_body(class_name: "p-4") do %>
        <%= form_with(
          class: "flex flex-col gap-4",
          model: form,
          url: email_confirmation_path
        ) do |f| %>
          <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

          <%= f.label :email, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.new_email_confirmation_form.email") %>
              </span>
            </div>

            <%= f.email_field(:email, {
              autocomplete: "username",
              autofocus: true,
              class: "bg-base-300 input input-bordered w-full",
              required: true
            }) %>
          <% end %>

          <%= f.button class: "btn btn-primary no-animation rounded-full w-fit", type: :submit do %>
            <%= render Basic::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-content") %>

            <%= t("verbs.submit") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
