<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_page_name:, current_user:) %>
  <% end %>

  <%= layout.with_main do %>
    <%= render BaseUI::ContainerComponent.new(
      as: BaseUI::ContainerComponent::As::Main,
      options: {class: "flex flex-col gap-6 px-4"}
    ) do %>
      <%= render Headers::MainTitleComponent.new(title: t("nouns.search")) do |main_title| %>
        <%= main_title.with_subtitle do %>
          <%= t("messages.search.subtitle") %>
        <% end %>
      <% end %>

      <div class="flex flex-col gap-6">
        <%= render BaseUI::CardComponent.new do |card| %>
          <%= card.with_body(class_name: "px-4") do %>
            <%= form_with(
              url: search_path,
              local: true,
              method: :get,
              class: "form flex flex-col gap-4"
            ) do |f| %>
              <%= render BaseUI::FormErrorsComponent.new(errors: form.errors) %>

              <div class="flex flex-col gap-2">
                <%= f.label :q, t("nouns.search_keyword"), class: "label" %>

                <%= f.text_field :q,
                  value: form.q,
                  placeholder: t("messages.search.search_keyword_placeholder"),
                  class: "input w-full",
                  autofocus: true
                %>
              </div>

              <%= f.button class: "btn rounded-full w-fit", type: :submit do %>
                <%= render BaseUI::IconComponent.new(
                  name: "magnifying-glass-regular",
                  size: "18px",
                  class_name: "fill-primary-foreground"
                ) %>

                <%= t("verbs.search") %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if show_no_results_message? %>
          <%= render BaseUI::EmptyStateComponent.new(
            icon_name: "search",
            message: t("messages.search.no_results")
          ) %>
        <% elsif has_search_results? %>
          <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
            <% pages.each do |page| %>
              <%= render CardLinks::PageComponent.new(page:) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
