<%= render Layouts::BasicComponent.new(current_page_name:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user_entity:, current_page_name:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <%= render Breadcrumbs::SpaceBreadcrumbsComponent.new(space_entity:) do |breadcrumbs| %>
          <%= breadcrumbs.with_item do %>
            <%= link_to t("nouns.settings"), space_settings_path(space_entity.identifier) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: ContainerComponent::ContentScreen::Small
    ) do %>
      <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-bold antialiased">
          <%= t("nouns.export") %>
        </h1>

        <div class="text-gray-600 text-sm">
          <%= t("messages.exports.description_html") %>
        </div>
      </div>

      <%= render Basic::CardComponent.new(class_name: "bg-base-300 border border-brand-200") do |card| %>
        <%= card.with_body(class_name: "p-4") do %>
          <%= button_to t("messages.exports.start"), space_settings_export_list_path(space_entity.identifier), {
            method: :post,
            class: "btn btn-primary no-animation rounded-full"
          } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
