<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <%= render Breadcrumbs::SpaceBreadcrumbsComponent.new(space:) do |breadcrumbs| %>
          <%= breadcrumbs.with_item do %>
            <%= link_to t("nouns.settings"), space_settings_path(space.identifier) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title: t("nouns.export")) do |main_title| %>
        <%= main_title.with_subtitle do %>
          <%= t("messages.exports.description_html") %>
        <% end %>
      <% end %>

      <%= render BaseUI::CardComponent.new(class_name: "bg-base-300 border border-brand-200") do |card| %>
        <%= card.with_body(class_name: "p-4") do %>
          <% if export_status.processing? %>
            <div class="flex flex-col place-items-center gap-2">
              <%= render BaseUI::IconComponent.new(
                name: "package-regular",
                size: "42px",
                class_name: "fill-amber-600 animate-bounce"
              ) %>

              <div class="text-center">
                <%= t("messages.exports.started_html") %>
              </div>
            </div>
          <% elsif export_status.succeeded? %>
            <div class="flex flex-col place-items-center gap-6">
              <div class="flex flex-col place-items-center gap-2">
                <%= render BaseUI::IconComponent.new(
                  name: "check-circle",
                  size: "42px",
                  class_name: "fill-success"
                ) %>

                <div class="text-center">
                  <%= t("messages.exports.succeeded_html") %>
                </div>
              </div>

              <%= link_to space_settings_download_export_path(
                space.identifier,
                export.database_id
              ), {
                class: "btn btn-primary rounded-full w-fit",
                target: "_blank",
                rel: "noopener noreferrer"
              } do %>
                <%= render BaseUI::IconComponent.new(
                  name: "download-simple-regular",
                  size: "18px",
                  class_name: "fill-primary-foreground"
                ) %>

                <%= t("verbs.download") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
