<nav class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to root_path do %>
      <%= render Nonoto::UI::Icon.new(name: "logo", size: "24px", class_name: "fill-base-content") %>
    <% end %>
  </div>

  <div>
    <% if signed_in? %>
      <%= link_to t("nouns.new_note"), new_note_path %>
    <% end %>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if signed_in? %>
        <li>
          <%= button_to t("nouns.sign_out"), session_path(space_identifier: viewer!.space_identifier), {
            method: :delete
          } %>
        </li>
      <% else %>
        <li>
          <%= link_to t("nouns.sign_up"), sign_up_path %>
        </li>

        <li>
          <%= link_to t("nouns.sign_in"), sign_in_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
