<div
  class="<%= class_names("flex gap-6 items-center",
    class_name
  ) %>"
>
  <% if signed_in? %>
    <%= render Navbar::ItemLinkComponent.new(
      path: home_path,
      icon_name: home_icon_name,
      title: t("nouns.home")
    ) %>

    <%= render Navbar::ItemLinkComponent.new(
      path: "#",
      icon_name: inbox_icon_name,
      title: t("nouns.inbox")
    ) %>

    <%= button_to "#", {
      class: class_names(
        "text-gray-600 hover:text-gray-950 text-sm transition duration-200 ease-in-out group",
        class_name
      ),
      title: t("nouns.search")
    } do %>
      <%= render Basic::IconComponent.new(
        name: "magnifying-glass",
        size: "2rem",
        class_name: "fill-gray-600 group-hover:fill-gray-950 transition duration-200 ease-in-out"
      ) %>
    <% end %>

    <%= render Navbar::ItemLinkComponent.new(
      path: profile_path(current_user.not_nil!.atname),
      icon_name: profile_icon_name,
      title: t("nouns.profile")
    ) %>
  <% else %>
    <%= link_to sign_in_path, {
      class: class_names(
        "text-gray-600 hover:text-gray-950 text-sm transition duration-200 ease-in-out group",
        class_name
      ),
      title: t("nouns.sign_in")
    } do %>
      <%= render Basic::IconComponent.new(
        name: "sign-in-regular",
        size: "2rem",
        class_name: "fill-gray-600 group-hover:fill-gray-950 transition duration-200 ease-in-out"
      ) %>
    <% end %>
  <% end %>
</div>
