<nav class="flex justify-between px-2 py-4">
  <div>
    <%= link_to root_path, class: "fw-bold navbar-brand" do %>
      の
      <span class="small">(α)</span>
    <% end %>

    <% if signed_in? %>
      <%= link_to t("nouns.new_note"), new_note_path %>
    <% end %>
  </div>

  <div>
    <% if signed_in? %>
      <%= button_to t("nouns.sign_out"), sign_out_path, method: :delete %>
    <% else %>
      <div class="flex gap-2">
        <%= link_to t("nouns.sign_up"), sign_up_path %>
        <%= link_to t("nouns.sign_in"), sign_in_path %>
      </div>
    <% end %>
  </div>
</nav>
