<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <div class="antialiased font-bold">
      <%= t("nouns.links") %>
    </div>

    <% link_list.links.each do |link| %>
      <ul class="gap-2 grid grid-cols-4">
        <li>
          <%= render Cards::PageCardComponent.new(page: link.page, class_name: "bg-base-300") %>
        </li>

        <% link.backlinked_pages.each do |page| %>
          <li>
            <%= render Cards::PageCardComponent.new(page:, class_name: "bg-base-300") %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if link_list.pagination.has_next %>
      <turbo-frame id="page-links-link-list">
        <%= link_to "次へ", frame_page_link_list_path(page.space.identifier, page.number) %>
      </turbo-frame>
    <% end %>
  </div>

  <div class="flex flex-col gap-2">
    <div class="antialiased font-bold">
      <%= t("nouns.backlinks") %>
    </div>

    <ul class="gap-2 grid grid-cols-4">
      <% backlink_list.backlinks.each do |backlink| %>
        <li>
          <%= render Cards::PageCardComponent.new(page: backlink.page, class_name: "bg-base-300") %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
