<%= render ::Layouts::SimpleComponent.new(current_page_name:) do %>
  <div class="flex flex-col gap-8 px-4 py-12">
    <div class="text-center">
      <%= link_to root_path, class: "inline-block bg-brand-100 rounded-lg" do %>
        <%= render BaseUI::IconComponent.new(name: "logo", size: "80px", class_name: "fill-black") %>
      <% end %>
    </div>

    <div class="mx-auto">
      <h1 class="text-2xl font-bold antialiased text-center">
        <%= current_page_title %>
      </h1>

      <p class="mt-4 flex items-center gap-2">
        <%= t("messages.sign_in.dont_have_an_account") %>

        <%= render BaseUI::LinkComponent.new(
          href: sign_up_path,
          variant: BaseUI::LinkComponent::Variant::Underline
        ) do %>
          <%= t("nouns.sign_up") %>
        <% end %>
      </p>
    </div>

    <%= render BaseUI::CardComponent.new do |card| %>
      <%= card.with_body(class_name: "px-4") do %>
        <%= form_with(
          class: "form grid gap-6",
          model: form,
          url: user_session_path
        ) do |f| %>
          <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

          <div class="grid gap-2">
            <%= f.label :email %>

            <%= f.email_field(:email, {
              autocomplete: "username",
              autofocus: true,
              required: true,
              tabindex: 1
            }) %>
          </div>

          <div class="grid gap-2">
            <div class="flex items-center gap-2">
              <%= f.label :password %>

              <%= render BaseUI::LinkComponent.new(
                href: password_reset_path,
                variant: BaseUI::LinkComponent::Variant::Underline,
                class_name: "ml-auto text-sm",
                tabindex: 4
              ) do %>
                <%= t("meta.title.password_resets.new") %>
              <% end %>
            </div>

            <%= f.password_field(:password, {
              autocomplete: "current-password",
              required: true,
              tabindex: 2
            }) %>
          </div>

          <%= f.button(
            class: "btn btn-primary rounded-full w-fit",
            type: :submit,
            tabindex: 3
          ) do %>
            <%= render BaseUI::IconComponent.new(name: "sign-in-regular", size: "18px", class_name: "fill-primary-foreground") %>

            <%= t("verbs.sign_in") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="text-center">
      <%= render BaseUI::LinkComponent.new(
        href: root_path,
        variant: BaseUI::LinkComponent::Variant::Underline
      ) do %>
        <%= render BaseUI::IconComponent.new(name: "arrow-left-regular", size: "18px", class_name: "fill-primary-background") %>

        <%= t("verbs.back_to_home") %>
      <% end %>
    </div>
  </div>
<% end %>
