<% title = t("meta.title.sign_in.show") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::SimpleComponent.new(current_page_name:) do %>
  <div class="flex flex-col gap-8 px-4 py-12">
    <div class="text-center">
      <%= link_to root_path, class: "inline-block bg-brand-100 rounded-lg" do %>
        <%= render Basic::IconComponent.new(name: "logo", size: "80px", class_name: "fill-black") %>
      <% end %>
    </div>

    <div class="text-center">
      <h1 class="text-3xl font-bold antialiased">
        <%= title %>
      </h1>

      <p class="mt-4 hidden">
        <%= t("messages.sign_in.dont_have_an_account_html", sign_up_path:) %>
      </p>
    </div>

    <%= render Basic::CardComponent.new(class_name: "bg-base-300 border border-brand-200") do |card| %>
      <%= card.with_body(class_name: "p-4") do %>
        <%= form_with(
          class: "flex flex-col gap-4",
          model: form,
          url: user_session_path
        ) do |f| %>
          <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

          <%= f.label :email, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.user_session_form.email") %>
              </span>
            </div>

            <%= f.email_field(:email, {
              autocomplete: "username",
              class: "bg-base-300 input input-bordered w-full",
              required: true
            }) %>
          <% end %>

          <%= f.label :password, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.user_session_form.password") %>
              </span>

              <span class="label-text-alt">
                <%# link_to t("meta.title.password_resets.new"), password_reset_path, class: "link", tabindex: 0 %>
              </span>
            </div>

            <%= f.password_field(:password, {
              autocomplete: "current-password",
              class: "bg-base-300 input input-bordered w-full",
              required: true
            }) %>
          <% end %>

          <%= f.button class: "btn btn-primary no-animation rounded-full w-fit", type: :submit do %>
            <%= render Basic::IconComponent.new(name: "sign-in-regular", size: "18px", class_name: "fill-primary-content") %>

            <%= t("verbs.sign_in") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="text-center">
      <%= link_to root_path, class: "btn btn-outline btn-sm border-gray-500 text-gray-500 no-animation rounded-full group" do %>
        <%= render Basic::IconComponent.new(name: "arrow-left-regular", size: "18px", class_name: "fill-gray-500 group-hover:fill-primary-content") %>

        <%= t("verbs.back_to_top_page") %>
      <% end %>
    </div>
  </div>
<% end %>
