<%= render ::Layouts::SimpleComponent.new(current_page_name:) do %>
  <div class="flex flex-col gap-8 px-4 py-12">
    <div class="text-center">
      <%= link_to root_path, class: "inline-block bg-brand-100 rounded-lg" do %>
        <%= render Basic::IconComponent.new(name: "logo", size: "80px", class_name: "fill-black") %>
      <% end %>
    </div>

    <div class="text-center">
      <h1 class="text-2xl font-bold antialiased">
        <%= current_page_title %>
      </h1>

      <p class="mt-4">
        <%= t("messages.sign_in.dont_have_an_account_html", sign_up_path:) %>
      </p>
    </div>

    <%= render Basic::CardComponent.new do |card| %>
      <%= card.with_body(class_name: "px-4") do %>
        <%= form_with(
          class: "form grid gap-6",
          model: form,
          url: user_session_path
        ) do |f| %>
          <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

          <div class="grid gap-2">
            <%= f.label :email %>

            <%= f.email_field(:email, {
              autocomplete: "username",
              autofocus: true,
              class: "",
              required: true,
              tabindex: 1
            }) %>
          </div>

          <div class="grid gap-2">
            <div class="flex items-center gap-2">
              <%= f.label :password %>

              <%= link_to t("meta.title.password_resets.new"), password_reset_path, {
                class: "ml-auto underline underline-offset-4 text-sm",
                tabindex: 4
              } %>
            </div>

            <%= f.password_field(:password, {
              autocomplete: "current-password",
              class: "bg-base-300 input input-bordered w-full",
              required: true,
              tabindex: 2
            }) %>
          </div>

          <%= f.button(
            class: "btn btn-primary rounded-full w-fit",
            type: :submit,
            tabindex: 3
          ) do %>
            <%= render Basic::IconComponent.new(name: "sign-in-regular", size: "18px", class_name: "fill-primary-foreground") %>

            <%= t("verbs.sign_in") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="text-center">
      <%= link_to root_path, class: "underline underline-offset-4" do %>
        <%= render Basic::IconComponent.new(name: "arrow-left-regular", size: "18px", class_name: "fill-primary-background") %>

        <%= t("verbs.back_to_home") %>
      <% end %>
    </div>
  </div>
<% end %>
