<%= render Headers::GlobalComponent.new(signed_in: true, current_page_name:) do |header| %>
  <%= header.with_breadcrumbs do %>
    <%= render Breadcrumbs::SpaceBreadcrumbsComponent.new(space_entity:) %>
  <% end %>
<% end %>

<%= render Containers::MainComponent.new(
  content_screen: Containers::MainComponent::ContentScreen::Large
) do %>
  <div class="flex flex-col gap-6 p-4">
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-bold antialiased">
          <%= t("nouns.trash") %>
        </h1>

        <p class="text-sm text-gray-500">
          <%= t("messages.trash.show.description_1") %>
          <br>
          <%= t("messages.trash.show.description_2") %>
        </p>
      </div>
    </div>

    <% if page_entities.present? %>
      <div class="flex flex-col gap-6">
        <div class="card bg-base-300 p-4">
          <%= render Lists::TrashedPagesComponent.new(form:, page_entities:) %>
        </div>

        <div class="flex justify-center">
          <%= render Basic::PaginationComponent.new(
            pagination_entity:,
            previous_path: trash_path(before: pagination_entity.previous_cursor),
            next_path: trash_path(after: pagination_entity.next_cursor)
          ) %>
        </div>
      </div>
    <% else %>
      <div class="card bg-base-300 p-4">
        <%= render Cards::EmptyStateComponent.new(
          icon_name: "file",
          message: t("messages.trash.empty_state_message")
        ) %>
      </div>
    <% end %>
  </div>
<% end %>
