<% title = @note.title %>
<% set_meta_tags(title: "#{title} | #{viewer!.space_name}") %>

<%= render ::Layouts::MainLayoutComponent.new do %>
  <div class="flex flex-col gap-4 p-4">
    <div class="flex flex-row gap-4">
      <div class="basis-3/4">
        <div class="flex items-center justify-between">
          <h1 class="antialiased font-bold text-2xl">
            <%= title %>
          </h1>

          <div>
            <%= link_to t("verbs.edit"), edit_note_path(viewer!.space_identifier, @note.number), {
              class: "btn btn-outline btn-sm"
            } %>
          </div>
        </div>

        <div class="flex gap-2 mt-2 text-sm">
          <div>
            <%= "@#{@note.author.atname}" %>
          </div>

          <div>
            <%= @note.published_at %>
          </div>
        </div>

        <div class="mt-4">
          <%= @note.body_html.html_safe %>
        </div>
      </div>

      <div class="basis-1/4">
      </div>
    </div>

    <div>
      <%= render Footers::NoteFooterComponent.new(link_list: @link_list, backlink_list: @backlink_list)  %>
    </div>
  </div>
<% end %>
