<% set_meta_tags(title: @note.title, reverse: false) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <%= link_to t("verbs.edit"), edit_note_path(viewer!.space_identifier, @note.number) %>

    <h1>
      <%= @note.title %>
    </h1>

    <%= @note.body_html.html_safe %>
  <% end %>
<% end %>
