<% title = @note.title %>
<% set_meta_tags(title: "#{title} | #{viewer!.space_name}") %>

<%= render ::Layouts::BasicLayoutComponent.new(joined_lists: @joined_lists) do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <h1 class="antialiased font-semibold text-2xl">
      <%= title %>
    </h1>

    <%= render Nonoto::UI::Card.new(class_name: "mt-8") do %>
      <%= render Nonoto::UI::Card::Body.new do %>
        <%= @note.body_html.html_safe %>
      <% end %>
    <% end %>

    <%= link_to t("verbs.edit"), edit_note_path(viewer!.space_identifier, @note.number) %>
  <% end %>
<% end %>
