<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <%= render Breadcrumbs::TopicBreadcrumbsComponent.new(topic:) %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
    ) do %>
      <%= render Topics::ShowView::HeaderComponent.new(signed_in: signed_in?, topic:) %>

      <% if pinned_pages.present? || pages.present? %>
        <div class="flex flex-col gap-6">
          <div class="flex flex-col gap-4">
            <% if pinned_pages.present? %>
              <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
                <% pinned_pages.each do |page| %>
                  <%= render Cards::PageComponent.new(page:, show_topic_name: false) %>
                <% end %>
              </div>
            <% end %>

            <% if pages.present? %>
              <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
                <% pages.each do |page| %>
                  <%= render Cards::PageComponent.new(page:, show_topic_name: false) %>
                <% end %>
              </div>
            <% end %>
          </div>

          <% if pagination.has_previous? || pagination.has_next? %>
            <div class="flex justify-center">
              <%= render BaseUI::PaginationComponent.new(
                pagination:,
                previous_path: topic_path(before: pagination.previous_cursor),
                next_path: topic_path(after: pagination.next_cursor)
              ) %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= render BaseUI::EmptyStateComponent.new(
          icon_name: "file",
          message: t("messages.spaces.no_pages")
        ) do %>
          <div>
            <%= t("messages.spaces.new_page_description") %>
          </div>

          <%= link_to new_page_path(space.identifier, topic.number), {
            class: "btn btn-sm rounded-full"
          } do %>
            <%= render BaseUI::IconComponent.new(
              name: "pencil-simple-line",
              size: "18px",
              class_name: "fill-primary-foreground"
            ) %>

            <%= t("nouns.new_page") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: signed_in?) %>
  <% end %>
<% end %>
