<div class="flex flex-col gap-4">
  <div class="flex flex-wrap-reverse items-center justify-between gap-4 md:flex-nowrap">
    <h1 class="flex-auto text-2xl font-bold antialiased">
      <%= page.title %>
    </h1>

    <div class="flex w-full flex-none items-center justify-end gap-2 md:w-auto">
      <% if page.viewer_can_update? %>
        <%= link_to edit_page_path(space.identifier, page.number), {
          class: "btn btn-sm btn-primary no-animation rounded-full"
        } do %>
          <%= render Basic::IconComponent.new(name: "pencil-simple-line", size: "18px", class_name: "fill-primary-content") %>

          <%= t("verbs.edit") %>
        <% end %>
      <% end %>

      <% if signed_in? %>
        <%= render Dropdowns::PageActionsComponent.new(page:) %>
      <% end %>
    </div>
  </div>

  <% if false %>
  <div class="flex items-center gap-2">
    <% if page.published? %>
      <div
        class="text-sm text-gray-500"
        data-controller="absolute-time"
        data-absolute-time-utc-time-value="<%= page.published_at.iso8601 %>"
      >
        <%= t("messages.time.ago_published", time: time_ago_in_words(page.published_at)) %>
      </div>
    <% end %>

    <% if page.modified_after_published? %>
      <div
        class="text-sm text-gray-500"
        data-controller="absolute-time"
        data-absolute-time-utc-time-value="<%= page.modified_at.iso8601 %>"
      >
        <%= t("messages.time.ago_modified", time: time_ago_in_words(page.modified_at)) %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
