<div class="flex flex-col gap-4">
  <div class="flex flex-wrap-reverse md:flex-nowrap items-center justify-between gap-4">
    <h1 class="text-2xl font-bold antialiased flex-auto">
      <%= page_entity.title %>
    </h1>

    <div class="flex items-center gap-2 justify-end w-full md:w-auto flex-none">
      <% if page_entity.viewer_can_update? %>
        <%= link_to edit_page_path(space_entity.identifier, page_entity.number), {
          class: "btn btn-sm btn-primary no-animation rounded-full"
        } do %>
          <%= render Basic::IconComponent.new(name: "pencil-simple-line", size: "18px", class_name: "fill-primary-content") %>

          <%= t("verbs.edit") %>
        <% end %>
      <% end %>

      <% if signed_in? %>
        <%= render Dropdowns::PageActionsComponent.new(page_entity:) %>
      <% end %>
    </div>
  </div>

  <% if false %>
  <div class="flex items-center gap-2">
    <% if page_entity.published? %>
      <div
        class="text-sm text-gray-500"
        data-controller="absolute-time"
        data-absolute-time-utc-time-value="<%= page_entity.published_at.iso8601 %>"
      >
        <%= t("messages.time.ago_published", time: time_ago_in_words(page_entity.published_at)) %>
      </div>
    <% end %>

    <% if page_entity.modified_after_published? %>
      <div
        class="text-sm text-gray-500"
        data-controller="absolute-time"
        data-absolute-time-utc-time-value="<%= page_entity.modified_at.iso8601 %>"
      >
        <%= t("messages.time.ago_modified", time: time_ago_in_words(page_entity.modified_at)) %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
