<% title = t("meta.title.spaces.new") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::MainComponent.new(current_page_name:) do %>
  <div class="flex flex-col gap-6 px-4 py-6">
    <h1 class="text-2xl font-bold antialiased">
      <%= title %>
    </h1>

    <%= render Basic::CardComponent.new(class_name: "bg-base-300") do |card| %>
      <%= card.with_body(class_name: "p-4") do %>
        <%= form_with(
          class: "flex flex-col gap-4",
          model: form,
          url: space_list_path
        ) do |f| %>
          <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

          <%= f.label :identifier, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.account_form.space_identifier") %>
              </span>
            </div>

            <%= f.text_field(:space_identifier,
              class: "bg-base-300 input input-bordered w-full",
              required: true
            ) %>

            <div class="label">
              <span class="label-text-alt">
                <%= t("messages.accounts.space_identifier_hint_html", min_length: Space::IDENTIFIER_MIN_LENGTH) %>
              </span>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
