<%= render Headers::GlobalComponent.new(signed_in: true, current_page_name:) %>

<%= render Containers::MainComponent.new(
  content_screen: Containers::MainComponent::ContentScreen::Small
) do %>
  <div class="flex flex-col gap-6 px-4 py-6">
    <h1 class="text-2xl font-bold antialiased">
      <%= title %>
    </h1>

    <%= render Basic::CardComponent.new(class_name: "bg-base-300 border border-brand-200") do |card| %>
      <%= card.with_body(class_name: "p-4") do %>
        <%= form_with(
          class: "flex flex-col gap-4",
          model: form,
          url: space_list_path
        ) do |f| %>
          <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

          <%= f.label :identifier, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.new_space_form.identifier") %>
              </span>
            </div>

            <%= f.text_field(:identifier,
              autofocus: true,
              class: "bg-base-300 input input-bordered w-full",
              required: true
            ) %>

            <div class="label">
              <span class="label-text-alt">
                <%= t("messages.spaces.identifier_hint_html", min_length: Space::IDENTIFIER_MIN_LENGTH) %>
              </span>
            </div>
          <% end %>

          <%= f.label :name, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.new_space_form.name") %>
              </span>
            </div>

            <%= f.text_field(:name,
              class: "bg-base-300 input input-bordered w-full",
              required: true
            ) %>
          <% end %>

          <%= f.button class: "btn btn-primary no-animation rounded-full w-fit", type: :submit do %>
            <%= render Basic::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-content") %>

            <%= t("verbs.create") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
