<% title = t("meta.title.spaces.show", space_name: Current.space!.name) %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::MainComponent.new do %>
  <div class="flex flex-col gap-6 px-4 py-6">
    <div class="flex items-center justify-between">
      <h1 class="text-2xl font-bold antialiased">
        <%= t("nouns.home") %>
      </h1>
    </div>

    <%= f.label :space_identifier, class: "form-control" do %>
      <div class="label">
        <span class="label-text">
          <%= t("forms.attributes.account_form.space_identifier") %>
        </span>
      </div>

      <%= f.text_field(:space_identifier,
        class: "bg-base-300 input input-bordered w-full",
        required: true
      ) %>

      <div class="label">
        <span class="label-text-alt">
          <%= t("messages.accounts.space_identifier_hint_html", min_length: Space::IDENTIFIER_MIN_LENGTH) %>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
