<%= render Layouts::Column1Component.new(current_page_name:, current_user:, current_space: space) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:, current_space: space) do |header| %>
      <%= header.with_breadcrumb do %>
        <%= render Breadcrumbs::SpaceComponent.new(space:) %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new do %>
      <%= render Headers::MainTitleComponent.new(title: space.name) do |main_title| %>
        <%= main_title.with_actions do %>
          <%= render Dropdowns::SpaceOptionsComponent.new(signed_in: signed_in?, space:) %>
        <% end %>
      <% end %>

      <% if topics.present? %>
        <div class="flex flex-col gap-4">
          <h2 class="font-bold antialiased">
            <% if joined_space? %>
              <%= t("nouns.joined_topics") %>
            <% else %>
              <%= t("nouns.topics") %>
            <% end %>
          </h2>

          <%= render CardLists::TopicComponent.new(topics:, is_guest: !joined_space?) %>
        </div>
      <% end %>

      <% if pinned_pages.present? %>
        <div class="flex flex-col gap-4">
          <h2 class="font-bold antialiased">
            <%= t("nouns.pinned_pages") %>
          </h2>

          <div class="grid grid-cols-1 items-stretch gap-2 md:grid-cols-3">
            <% pinned_pages.each do |page| %>
              <%= render CardLinks::PageComponent.new(page:, card_class: "h-full") %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if pages.present? %>
        <div class="flex flex-col gap-4">
          <h2 class="font-bold antialiased">
            <%= t("nouns.pages_in_space") %>
          </h2>

          <div class="grid grid-cols-1 items-stretch gap-2 md:grid-cols-3">
            <% pages.each do |page| %>
              <%= render CardLinks::PageComponent.new(page:, card_class: "h-full") %>
            <% end %>
          </div>

          <% if pagination.has_previous? || pagination.has_next? %>
            <div class="flex justify-center">
              <%= render BaseUI::PaginationComponent.new(
                pagination:,
                previous_path: space_path(space.identifier, before: pagination.previous_cursor),
                next_path: space_path(space.identifier, after: pagination.next_cursor)
              ) %>
            </div>
          <% end %>
        </div>
      <% elsif joined_space? && first_joined_topic.nil? %>
        <%= render BaseUI::EmptyStateComponent.new(
          icon_name: "file",
          message: t("messages.spaces.no_topics")
        ) do %>
          <% if space.can_create_topic? %>
            <div class="flex flex-col gap-4">
              <div>
                <%= t("messages.spaces.new_topic_description_html") %>
              </div>

              <div>
                <%= link_to new_topic_path(space.identifier), {
                    class: "btn btn-sm rounded-full"
                } do %>
                  <%= render BaseUI::IconComponent.new(
                    name: "plus",
                    size: "18px",
                    class_name: "fill-primary-foreground"
                  ) %>

                  <%= t("nouns.new_topic") %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= render BaseUI::EmptyStateComponent.new(
          icon_name: "file",
          message: t("messages.spaces.no_pages")
        ) do %>
          <% if first_joined_topic.present? %>
            <div class="flex flex-col gap-4">
              <div>
                <%= t("messages.spaces.new_page_description") %>
              </div>

              <div>
                <%= link_to new_page_path(space.identifier, first_joined_topic.number), {
                  class: "btn btn-sm rounded-full"
                } do %>
                  <%= render BaseUI::IconComponent.new(
                    name: "pencil-simple-line",
                    size: "18px",
                    class_name: "fill-primary-foreground"
                  ) %>

                  <%= t("nouns.new_page") %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: signed_in?) %>
  <% end %>
<% end %>
