<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new do %>
      <div class="flex items-center justify-between">
        <h1 class="text-2xl font-bold antialiased">
          <%= space.name %>
        </h1>

        <div class="flex gap-2">
          <% if first_topic&.can_create_page? %>
            <%= link_to new_page_path(space.identifier, first_topic.number), {
              class: "btn btn-sm btn-primary no-animation rounded-full"
            } do %>
              <%= render Basic::IconComponent.new(name: "pencil-simple-line", size: "18px", class_name: "fill-primary-content") %>

              <%= t("nouns.new_page") %>
            <% end %>
          <% end %>

          <%= render Dropdowns::SpaceOptionsComponent.new(signed_in: signed_in?, space:) %>
        </div>
      </div>

      <% if pinned_pages.present? || pages.present? %>
        <div class="flex flex-col gap-6">
          <div class="flex flex-col gap-4">
            <% if pinned_pages.present? %>
              <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
                <% pinned_pages.each do |page| %>
                  <%= render Cards::PageComponent.new(page:) %>
                <% end %>
              </div>
            <% end %>

            <% if pages.present? %>
              <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
                <% pages.each do |page| %>
                  <%= render Cards::PageComponent.new(page:) %>
                <% end %>
              </div>
            <% end %>
          </div>

          <% if pagination.has_previous? || pagination.has_next? %>
            <div class="flex justify-center">
              <%= render Basic::PaginationComponent.new(
                pagination:,
                previous_path: space_path(space.identifier, before: pagination.previous_cursor),
                next_path: space_path(space.identifier, after: pagination.next_cursor)
              ) %>
            </div>
          <% end %>
        </div>
      <% elsif first_topic.nil? %>
        <%= render Cards::EmptyStateComponent.new(
          icon_name: "file",
          message: t("messages.spaces.no_topics")
        ) do %>
          <div>
            <%= t("messages.spaces.new_topic_description_html") %>
          </div>

          <%= link_to new_topic_path(space.identifier), {
            class: "btn btn-primary btn-sm no-animation rounded-full"
          } do %>
            <%= render Basic::IconComponent.new(
              name: "plus",
              size: "18px",
              class_name: "fill-primary-content"
            ) %>

            <%= t("nouns.new_topic") %>
          <% end %>
        <% end %>
      <% else %>
        <%= render Cards::EmptyStateComponent.new(
          icon_name: "file",
          message: t("messages.spaces.no_pages")
        ) do %>
          <div>
            <%= t("messages.spaces.new_page_description_html") %>
          </div>

          <%= link_to new_space_path, {
            class: "btn btn-primary btn-sm no-animation rounded-full"
          } do %>
            <%= render Basic::IconComponent.new(
              name: "plus",
              size: "18px",
              class_name: "fill-primary-content"
            ) %>

            <%= t("nouns.new_space") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: signed_in?) %>
  <% end %>
<% end %>
