<% title = t("meta.title.topics.show", space_name: Current.space!.name, topic_name: @topic.name) %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::MainLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-2">
        <h1 class="antialiased font-bold text-2xl">
          <%= @topic.name %>
        </h1>

        <% if @topic.description.present? %>
          <p class="text-gray-400 text-sm">
            <%= @topic.description %>
          </p>
        <% end %>
      </div>

      <% if policy(@topic).create? %>
        <%= link_to new_page_path(Current.space!.identifier, @topic.number), class: "btn btn-primary no-animation" do %>
          <%= render Wikino::UI::Icon.new(name: "pencil-simple-line", size: "18px", class_name: "fill-primary-content") %>

          <%= t("nouns.new_page") %>
        <% end %>
      <% end %>
    </div>

    <hr class="my-4">

    <% if @pinned_pages.present? || @pages.present? %>
      <div class="flex flex-col gap-4">
        <% if @pinned_pages.present? %>
          <div class="gap-2 grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6">
            <% @pinned_pages.each do |page| %>
              <%= render Cards::PageCardComponent.new(page:, show_topic_name: false, class_name: "bg-base-300") %>
            <% end %>
          </div>
        <% end %>

        <% if @pages.present? %>
          <div class="gap-2 grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6">
            <% @pages.each do |page| %>
              <%= render Cards::PageCardComponent.new(page:, show_topic_name: false, class_name: "bg-base-300") %>
            <% end %>
          </div>
        <% end %>

        <div class="flex justify-center">
          <%= render PaginationComponent.new(
            pagination: @pagination,
            previous_path: topic_path(before: @pagination.previous_cursor),
            next_path: topic_path(after: @pagination.next_cursor)
          ) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
