<% title = t("meta.title.topics.show", space_name: viewer!.space_name, topic_name: @topic.name) %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::MainLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-2">
        <h1 class="antialiased font-bold text-2xl">
          <%= @topic.name %>
        </h1>

        <% if @topic.description.present? %>
          <p class="text-gray-400 text-sm">
            <%= @topic.description %>
          </p>
        <% end %>
      </div>

      <%= link_to new_page_path(viewer!.space_identifier, @topic.number), class: "btn btn-primary" do %>
        <%= render Wikino::UI::Icon.new(name: "pencil-simple-line", size: "18px", class_name: "fill-black") %>

        <%= t("nouns.new_page") %>
      <% end %>
    </div>

    <hr class="my-4">

    <div class="gap-2 grid grid-cols-6">
      <% @pages.each do |page| %>
        <%= render Cards::PageCardComponent.new(page:, class_name: "bg-base-300") %>
      <% end %>
    </div>
  <% end %>
<% end %>
