<% title = t("meta.title.topics.show", space_name: viewer!.space_name, topic_name: @topic.name) %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::MainLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <h1 class="antialiased font-semibold text-2xl">
      <%= @topic.name %>
    </h1>

    <div>
      <%= link_to(t("nouns.new_page"), new_page_path(viewer!.space_identifier, @topic.number), class: "link") %>
    </div>

    <div class="gap-2 grid grid-cols-6">
      <% @pages.each do |page| %>
        <%= link_to page_path(viewer!.space_identifier, page.number) do %>
          <%= render Nonoto::UI::Card.new(class_name: "mt-8") do %>
            <%= render Nonoto::UI::Card::Body.new do %>
              <%= page.title %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
