<div class="flex flex-col gap-2">
  <div class="tabs" role="tablist">
    <%= link_to "#", class: "tab", role: "tab" do %>
      <%= t("nouns.links") %>
    <% end %>

    <%= link_to "#", class: "tab", role: "tab" do %>
      <%= t("nouns.comments") %>
    <% end %>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <div class="antialiased font-bold">
        <%= t("nouns.links") %>
      </div>

      <% link_list.links.each do |link| %>
        <ul class="gap-2 grid grid-cols-4">
          <li>
            <%= render Cards::PageCardComponent.new(page: link.page, class_name: "bg-base-300") %>
          </li>

          <% link.backlinked_pages.each do |page| %>
            <li>
              <%= render Cards::PageCardComponent.new(page:, class_name: "bg-base-200") %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="flex flex-col gap-2">
      <div class="antialiased font-bold">
        <%= t("nouns.backlinks") %>
      </div>

      <ul class="gap-2 grid grid-cols-4">
        <% backlink_list.backlinks.each do |backlink| %>
          <li>
            <%= render Cards::PageCardComponent.new(page: backlink.page, class_name: "bg-base-300") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
