<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <div class="antialiased font-bold">
      <%= t("nouns.links") %>
    </div>

    <% if link_collection.links.present? %>
      <%= render LinkCollectionComponent.new(link_collection:) %>
    <% else %>
      <%= t("messages._common.no_links") %>
    <% end %>
  </div>

  <div class="flex flex-col gap-2">
    <div class="antialiased font-bold">
      <%= t("nouns.backlinks") %>
    </div>

    <% if backlink_collection.backlinks.present? %>
      <ul class="gap-2 grid grid-cols-4">
        <%= render BacklinkCollectionComponent.new(backlink_collection:) %>
      </ul>
    <% else %>
      <%= t("messages._common.no_backlinks") %>
    <% end %>
  </div>
</div>
