<turbo-frame id="joined-topics">
  <div class="flex flex-col">
    <% @topics.each do |topic| %>
      <div class="group hover:bg-sidebar-accent relative flex items-center rounded-md transition duration-150 ease-in-out">
        <%= link_to new_page_path(topic.space.identifier, topic.number), {
          class: "absolute right-2 top-1/2 -translate-y-1/2 p-2 rounded-md leading-none text-center hover:bg-brand-300/40 transition duration-150 ease-in-out z-10 non-touch:opacity-0 non-touch:group-hover:opacity-100",
          title: t("verbs.create_page"),
          data: { turbo_frame: "_top" }
        } do %>
          <%= render BaseUI::IconComponent.new(name: "pencil-simple-line-regular", size: "16px", class_name: "fill-muted-foreground") %>
        <% end %>

        <%= link_to topic_path(topic.space.identifier, topic.number), {
          class: "text-foreground flex items-center gap-2 p-2 rounded-md w-full",
          title: topic.name,
          data: { turbo_frame: "_top" }
        } do %>
          <div class="w-[16px] shrink-0">
            <%= render Icons::TopicComponent.new(topic:, size: "16px", class_name: "fill-muted-foreground") %>
          </div>

          <div class="flex flex-col pr-8">
            <div class="line-clamp-1 text-xs text-muted-foreground">
              <%= topic.space.name %>
            </div>

            <div class="line-clamp-1 text-sm">
              <%= topic.name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</turbo-frame>
