<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <div class="text-lg font-bold antialiased">
      <%= t("nouns.links") %>
    </div>

    <% if link_collection.links.present? %>
      <%= render LinkCollectionComponent.new(link_collection:) %>
    <% else %>
      <%= t("messages._common.no_links") %>
    <% end %>
  </div>

  <div class="flex flex-col gap-2">
    <div class="text-lg font-bold antialiased">
      <%= t("nouns.backlinks") %>
    </div>

    <% if backlink_collection.backlinks.present? %>
      <div class="grid grid-cols-2 gap-2 md:grid-cols-4 xl:grid-cols-5">
        <%= render BacklinkCollectionComponent.new(backlink_collection:) %>
      </div>
    <% else %>
      <%= t("messages._common.no_backlinks") %>
    <% end %>
  </div>
</div>
