<%= render Headers::GlobalComponent.new(signed_in: true, current_page_name:) %>

<%= render Containers::MainComponent.new(
  content_screen: Containers::MainComponent::ContentScreen::Large
) do %>
  <div class="flex flex-col gap-6 p-4">
    <h1 class="text-2xl font-bold antialiased">
      <%= t("nouns.home") %>
    </h1>

    <div class="flex flex-col gap-4">
      <h2 class="font-bold antialiased">
        <%= t("nouns.joined_spaces") %>
      </h2>

      <div class="flex flex-col gap-2">
        <% @active_spaces.each do |space| %>
          <%= link_to space.name, space_path(space.identifier), class: "link" %>
        <% end %>

        <%= link_to t("nouns.new_space"), new_space_path, class: "link" %>
      </div>
    </div>
  </div>
<% end %>

<%= render FixedBottomComponent.new(current_page_name:) %>
