<%= render Layouts::BasicComponent.new(current_page_name:, current_user: nil) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user: nil, current_page_name:) %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new do %>
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2 text-center mb-10">
          <h1 class="text-4xl/8 font-bold antialiased leading-snug">
            <%= t("messages.welcome.hero_title_html") %>
          </h1>

          <p class="text-lg/8 text-gray-600 antialiased">
            <%= t("messages.welcome.hero_description_html") %>
          </p>
        </div>

        <div class="flex flex-col gap-6">
          <h2 class="text-2xl/8 font-bold antialiased leading-snug text-center">
            特徴
          </h2>

          <div class="flex justify-between gap-2">
            <div class="flex flex-col gap-4">
              <h3 class="text-lg/8 font-bold antialiased leading-snug">
                Markdownで書ける
              </h3>

              <p>
                リッチテキストではないプレーンなエディタでMarkdown形式の文書が書けます。
              </p>
            </div>

            <%= image_tag "welcome/image_1.png", class: "w-1/2 rounded-lg" %>
          </div>

        </div>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="font-bold">
          更新情報
        </h2>

        <p>
          Wikinoのスペースで公開しています。
        </p>

        <%= link_to "/s/wikino", class: "link link-primary" do %>
          <%= render Basic::IconComponent.new(name: "arrow-right-regular", size: "18px", class_name: "fill-primary") %>

          Wikinoのスペースを見る
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
