<%= render Layouts::BasicComponent.new(current_page_name:, current_user: nil) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user: nil, current_page_name:) %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new do %>
      <div class="flex flex-col gap-10 pb-16 sm:gap-16">
        <div class="mx-auto flex flex-col items-center gap-2 rounded-lg border border-green-600 bg-green-200/50 px-4 py-2 sm:flex-row">
          <p>
            <%= t("messages.welcome.announcement") %>
          </p>

          <%= link_to "https://wikino.app/s/wikino/pages/44", class: "link inline-flex items-center gap-1" do %>
            <%= render BaseUI::IconComponent.new(
              name: "arrow-right-regular",
              size: "18px",
              class_name: "fill-gray-500"
            ) %>

            <%= t("messages.welcome.announcement_link_text") %>
          <% end %>
        </div>

        <div class="flex flex-col gap-6 text-center">
          <div class="flex flex-col gap-2">
            <h1 class="text-4xl/8 leading-snug font-bold antialiased">
              <%= t("messages.welcome.hero_title_html") %>
            </h1>

            <p class="text-lg/8 text-gray-600 antialiased">
              <%= t("messages.welcome.hero_description_html") %>
            </p>
          </div>

          <%= link_to sign_up_path, class: "btn btn-primary rounded-full w-fit self-center" do %>
            <%= render BaseUI::IconComponent.new(
              name: "paper-plane-tilt",
              size: "18px",
              class_name: "fill-primary-foreground"
            ) %>

            <%= t("nouns.sign_up") %>
          <% end %>
        </div>

        <div class="flex flex-col gap-6 sm:gap-10">
          <h2 class="text-center text-2xl/8 leading-snug font-bold antialiased">
            <%= t("messages.welcome.features_title") %>
          </h2>

          <div class="flex flex-col gap-8">
            <div class="flex flex-wrap-reverse gap-4 sm:flex-nowrap">
              <div class="flex flex-col gap-4 basis-full sm:basis-1/2">
                <h3 class="text-lg/8 leading-snug font-bold antialiased">
                  <%= t("messages.welcome.markdown_feature_title") %>
                </h3>

                <p>
                  <%= t("messages.welcome.markdown_feature_description") %>
                </p>
              </div>

              <%= image_tag "welcome/image_1.png", {
                alt: "",
                class: "w-full basis-full sm:basis-1/2 rounded-lg border border-gray-300",
                loading: "lazy"
              } %>
            </div>

            <div class="flex flex-wrap-reverse gap-4 sm:flex-nowrap">
              <div class="flex flex-col gap-4 basis-full sm:basis-1/2">
                <h3 class="text-lg/8 leading-snug font-bold antialiased">
                  <%= t("messages.welcome.wikilink_feature_title") %>
                </h3>

                <p>
                  <%= t("messages.welcome.wikilink_feature_description_1") %>
                </p>
              </div>

              <%= image_tag "welcome/image_4.png", {
                alt: "",
                class: "w-full basis-full sm:basis-1/2 rounded-lg border border-gray-300",
                loading: "lazy"
              } %>
            </div>

            <div class="flex flex-wrap-reverse gap-4 sm:flex-nowrap">
              <div class="flex flex-col gap-4 basis-full sm:basis-1/2">
                <h3 class="text-lg/8 leading-snug font-bold antialiased">
                  <%= t("messages.welcome.links_feature_title") %>
                </h3>

                <p>
                  <%= t("messages.welcome.links_feature_description_1") %>
                </p>

                <p>
                  <%= t("messages.welcome.links_feature_description_2") %>
                </p>
              </div>

              <%= image_tag "welcome/image_2.png", {
                alt: "",
                class: "w-full basis-full sm:basis-1/2 rounded-lg border border-gray-300",
                loading: "lazy"
              } %>
            </div>

            <div class="flex flex-wrap-reverse gap-4 sm:flex-nowrap">
              <div class="flex flex-col gap-4 basis-full sm:basis-1/2">
                <h3 class="text-lg/8 leading-snug font-bold antialiased">
                  <%= t("messages.welcome.opensource_feature_title") %>
                </h3>

                <p>
                  <%= t("messages.welcome.opensource_feature_description_1") %>
                </p>

                <p>
                  <%= t("messages.welcome.opensource_feature_description_2") %>
                </p>
              </div>

              <%= image_tag "welcome/image_3.png", {
                alt: "",
                class: "w-full basis-full sm:basis-1/2 rounded-lg border border-gray-300",
                loading: "lazy"
              } %>
            </div>
          </div>
        </div>

        <div class="my-6 flex flex-col gap-6 sm:my-10">
          <div class="text-center text-3xl/8 font-bold antialiased">
            <%= t("messages.welcome.start_cta") %>
          </div>

          <%= link_to sign_up_path, class: "btn btn-primary rounded-full w-fit self-center" do %>
            <%= render BaseUI::IconComponent.new(
              name: "paper-plane-tilt",
              size: "18px",
              class_name: "fill-primary-foreground"
            ) %>

            <%= t("nouns.sign_up") %>
          <% end %>
        </div>

        <footer class="grid grid-cols-2 sm:grid-cols-3 mx-auto gap-8">
          <nav class="flex flex-col gap-4">
            <h6 class="font-bold uppercase">
              <%= t("messages.welcome.footer_resources") %>
            </h6>

            <%= link_to "https://wikino.app/s/wikino", class: "hover:underline" do %>
              <%= t("messages.welcome.footer_help_page") %>
            <% end %>

            <%= link_to "https://wikino.app/s/wikino/pages/29", class: "hover:underline" do %>
              <%= t("messages.welcome.footer_release_notes") %>
            <% end %>

            <%= link_to "https://wikino.app/s/wikino/pages/3", class: "hover:underline" do %>
              <%= t("messages.welcome.footer_about_developer") %>
            <% end %>
          </nav>

          <nav class="flex flex-col gap-4">
            <h6 class="font-bold uppercase">
              <%= t("messages.welcome.footer_community") %>
            </h6>

            <%= link_to "Discord", "https://discord.gg/8qMetv8fUn", {
              class: "hover:underline",
              target: "_blank",
              rel: "nofollow"
            } %>

            <%= link_to "Bluesky", "https://bsky.app/profile/wikino.app", {
              class: "hover:underline",
              target: "_blank",
              rel: "nofollow"
            } %>

            <%= link_to "Mewst", "https://mewst.com/@wikino", {
              class: "hover:underline",
              target: "_blank",
              rel: "nofollow"
            } %>

            <%= link_to "GitHub", "https://github.com/wikinoapp/wikino", {
              class: "hover:underline",
              target: "_blank",
              rel: "nofollow"
            } %>
          </nav>

          <nav class="flex flex-col gap-4">
            <h6 class="font-bold uppercase">
              Legal
            </h6>

            <%= link_to terms_path, class: "hover:underline" do %>
              <%= t("messages.welcome.footer_terms") %>
            <% end %>

            <%= link_to privacy_path, class: "hover:underline" do %>
              <%= t("messages.welcome.footer_privacy") %>
            <% end %>
          </nav>
        </footer>
      </div>
    <% end %>
  <% end %>
<% end %>
