<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title: t("nouns.settings")) %>

      <%= render Basic::CardComponent.new(class_name: "bg-base-300 border border-brand-200") do |card| %>
        <%= card.with_body(class_name: "p-4") do %>
          <%= link_to(t("nouns.edit_profile"), settings_profile_path, class: "link") %>
          <%= link_to(t("nouns.change_email"), settings_email_path, class: "link") %>
          <%= link_to(t("nouns.account_deletion"), settings_account_new_deletion_path, class: "link") %>

          <div class="text-center">
            <%= button_to(t("nouns.sign_out"), user_session_path,
              class: "link",
              method: :delete,
              data: {
                turbo_confirm: t("messages.user_sessions.are_you_sure_sign_out")
              }
            ) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
