<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumb do %>
        <%= render Breadcrumbs::SpaceComponent.new(space:) %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: BaseUI::ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title: t("nouns.settings")) %>

      <%= render BaseUI::CardComponent.new do |card| %>
        <%= card.with_body(class_name: "px-4") do %>
          <div class="flex flex-col gap-3">
            <%= render BaseUI::LinkComponent.new(
              variant: BaseUI::LinkComponent::Variant::Underline,
              options: {href: space_settings_general_path(space.identifier)}
            ) do %>
              <%= t("nouns.general") %>
            <% end %>

            <%= render BaseUI::LinkComponent.new(
              variant: BaseUI::LinkComponent::Variant::Underline,
              options: {href: space_settings_new_exports_path(space.identifier)}
            ) do %>
              <%= t("nouns.export") %>
            <% end %>

            <%= render BaseUI::LinkComponent.new(
              variant: BaseUI::LinkComponent::Variant::Underline,
              options: {href: space_settings_new_deletion_path(space.identifier)}
            ) do %>
              <%= t("nouns.space_deletion") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
