<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_page_name:, current_user:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <%= render Breadcrumbs::SpaceBreadcrumbsComponent.new(space:) %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render BaseUI::ContainerComponent.new(
      as: BaseUI::ContainerComponent::As::Main,
      options: {class: "flex flex-col gap-6 px-4"}
    ) do %>
      <%= render Headers::MainTitleComponent.new(title:) %>

      <% if draft_page.present? %>
        <div class="alert alert-warning" role="alert">
          <%= t("messages.pages.current_page_is_draft") %>
        </div>
      <% end %>

      <%= render BaseUI::CardComponent.new(class_name: "bg-base-300") do |card| %>
        <%= card.with_body(class_name: "p-4") do %>
          <%= form_with(
            class: "flex flex-col gap-4",
            data: { controller: "markdown-editor-form" },
            model: form,
            method: :patch,
            url: page_path(space.identifier, page.number)
          ) do |f| %>
            <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

            <div>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.page_form/edit.topic_number") %>
                </span>
              </div>

              <div class="flex flex-col gap-4">
                <div>
                  <label class="flex cursor-pointer items-center gap-2">
                    <%= f.select(
                      :topic_number,
                      options_from_collection_for_select(f.object.selectable_topics, :number, :name, f.object.topic_number),
                      {},
                      {
                        class: "bg-base-300 select select-bordered",
                        data: {action: "markdown-editor-form#saveAsDraft"}
                      }
                    ) %>
                  </label>
                </div>
              </div>
            </div>

            <%= f.label :title, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.page_form/edit.title") %>
                </span>
              </div>

              <%= f.text_field(:title, {
                autofocus: f.object.autofocus_title?,
                class: "bg-base-300 input input-bordered w-full",
                data: {action: "markdown-editor-form#saveAsDraft"}
              }) %>
            <% end %>

            <%= f.label :body, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.page_form/edit.body") %>
                </span>
              </div>

              <div
                data-controller="markdown-editor"
                data-markdown-editor-space-identifier-value="<%= space.identifier %>"
                data-markdown-editor-body-value="<%= f.object.body %>"
                data-markdown-editor-autofocus-value="<%= f.object.autofocus_body? %>"
              >
                <div data-markdown-editor-target="codeMirror"></div>

                <%= f.text_area(:body, {
                  class: "hidden",
                  data: {
                    action: "markdown-editor-form#saveAsDraft",
                    markdown_editor_target: "textarea"
                  }
                }) %>
              </div>
            <% end %>

            <div class="flex items-center justify-between gap-2">
              <div class="flex gap-2">
                <%= f.button class: "btn rounded-full", type: :submit do %>
                  <%= render BaseUI::IconComponent.new(name: "floppy-disk", size: "18px", class_name: "fill-primary-foreground") %>

                  <%= t("verbs.save") %>
                <% end %>

                <%= link_to t("nouns.cancel"), page_path(space.identifier, page.number), {
                  class: "btn btn-ghost rounded-full w-fit"
                } %>

                <input
                  class="hidden"
                  data-markdown-editor-form-target="draftSaveButton"
                  formaction="<%= draft_page_path(space.identifier, page.number) %>"
                  type="submit"
                >
              </div>

              <div class="text-right">
                <turbo-frame id="markdown-editor-draft-saved-time"></turbo-frame>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <turbo-frame id="markdown-editor-footer">
        <%= render Footers::PageComponent.new(page:, link_list:, backlink_list:) %>
      </turbo-frame>
    <% end %>
  <% end %>
<% end %>
