<%= render Layouts::BasicComponent.new(current_page_name:, current_user:, current_space: space) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:, current_space: space) do |header| %>
      <%= header.with_breadcrumb do %>
        <%= render Breadcrumbs::TopicComponent.new(topic:) %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render BaseUI::ContainerComponent.new(
      as: BaseUI::ContainerComponent::As::Main,
      options: {class: "flex flex-col gap-6 px-4"}
    ) do %>
      <article class="flex flex-col gap-6">
        <% if page.trashed? %>
          <div class="alert">
            <h2>
              <%= t("messages.pages.trashed_page") %>

              <%= render BaseUI::LinkComponent.new(
                variant: BaseUI::LinkComponent::Variant::Underline,
                options: {href: trash_path(space.identifier)}
              ) do %>
                <%= t("verbs.view_trash") %>
              <% end %>
            </h2>
          </div>
        <% end %>

        <%= render Pages::ShowView::HeaderComponent.new(signed_in: signed_in?, page:) %>

        <% if page.body_html.present? %>
          <div
            class="wikino-markdown"
            data-controller="attachment-loader"
            data-attachment-loader-csrf-token-value="<%= form_authenticity_token %>"
            <%= Rails.env.test? ? ' data-test-endpoint="/_test/attachments/signed_urls"'.html_safe : "" %>
          >
            <%= page.body_html.html_safe %>
          </div>
        <% end %>
      </article>

      <%= render Footers::PageComponent.new(page:, link_list:, backlink_list:) %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: signed_in?) %>
  <% end %>
<% end %>
