<%= render Layouts::BasicComponent.new(current_page_name:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(signed_in:, current_page_name:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <%= render Pages::ShowView::BreadcrumbsComponent.new(topic_entity:) %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render ContainerComponent.new(
      as: ContainerComponent::As::Main,
      class_name: "flex flex-col gap-6 px-4"
    ) do %>
      <article class="flex flex-col gap-6">
        <%= render Pages::ShowView::HeaderComponent.new(signed_in:, page_entity:) %>

        <% if page_entity.body_html.present? %>
          <div class="wikino-markdown">
            <%= page_entity.body_html.html_safe %>
          </div>
        <% end %>
      </article>

      <%= render Footers::PageComponent.new(page_entity:, link_list_entity:, backlink_list_entity:) %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in:) %>
  <% end %>
<% end %>
