<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumb do %>
        <%= render Breadcrumbs::SettingsComponent.new %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: BaseUI::ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title:) %>

      <%= render BaseUI::CardComponent.new do |card| %>
        <%= card.with_body(class_name: "px-4") do %>
          <% if can_destroy_account? %>
            <div class="flex flex-col gap-4">
              <div class="flex flex-col gap-4">
                <p>
                  <%= t("messages.settings.account.deletions.description_html") %>
                </p>

                <ul class="list-inside list-disc">
                  <li>
                    <%= t("messages.settings.account.deletions.warning_1") %>
                  </li>

                  <li>
                    <%= t("messages.settings.account.deletions.warning_2") %>
                  </li>
                </ul>

                <p>
                  <%= t("messages.settings.account.deletions.form_description_html", user_atname: current_user.atname) %>
                </p>
              </div>

              <%= form_with(
                class: "form grid gap-6",
                model: form,
                url: settings_account_deletion_path
              ) do |f| %>
                <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

                <div class="grid gap-2">
                  <%= render BaseUI::LabelComponent.new(form_builder: f, method: :user_atname) %>

                  <%= f.text_field(:user_atname, required: true) %>
                </div>

                <div class="flex gap-2">
                  <%= f.button class: "btn rounded-full w-fit", type: :submit do %>
                    <%= render BaseUI::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-foreground") %>

                    <%= t("verbs.delete") %>
                  <% end %>

                  <%= link_to t("nouns.cancel"), settings_path, {
                    class: "btn-ghost rounded-full w-fit"
                  } %>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-2">
                <%= render BaseUI::IconComponent.new(name: "warning", size: "18px", class_name: "fill-amber-700") %>
                <%= t("messages.settings.account.deletions.cannot_destroy_account") %>
              </div>

              <p>
                <%= t("messages.settings.account.deletions.cannot_destroy_account_description_html") %>
              </p>

              <ul class="list-inside list-disc">
                <% active_spaces.each do |space| %>
                  <li>
                    <%= render BaseUI::LinkComponent.new(
                      variant: BaseUI::LinkComponent::Variant::Underline,
                      options: {href: space_path(space.identifier)}
                    ) do %>
                      <%= space.name %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
