<header
  class="<%= class_names(
    "bg-base-200 data-[stuck]:drop-shadow-sm data-[stuck]:py-2 py-6 transition-all duration-200 ease-in-out",
    class_name
  ) %>"
  data-controller="stuck"
>
  <div class="navbar mx-auto w-full max-w-screen-lg min-h-[auto] px-4 py-0">
    <div class="gap-8 navbar-start">
      <%= link_to root_path, {
        class: "bg-gray-600 hover:bg-primary rounded-full h-10 w-10 flex items-center justify-center transition duration-200 ease-in-out"
      } do %>
        <%= render Basic::IconComponent.new(
          name: "logo",
          size: "2rem",
          class_name: "fill-primary-content transition duration-200 ease-in-out"
        ) %>
      <% end %>

      <div class="flex gap-6">
        <%= render Navbars::Top::LinkItemComponent.new(path: root_path, title: t("nouns.home"), icon_name: "house") %>
        <%= render Navbars::Top::LinkItemComponent.new(path: "#", title: t("nouns.inbox"), icon_name: "tray") %>
      </div>
    </div>

    <div class="navbar-center">
      <%= render Navbars::Top::SearchButtonComponent.new %>
    </div>

    <div class="navbar-end">
      <div class="avatar">
        <%= link_to "#", class: "w-10 rounded-full" do %>
          <%= image_tag "https://shimba.co/img/shimbaco.jpg", class: "rounded-full" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
