<header class="<%= class_names("bg-base-200 drop-shadow min-h-full navbar py-2", class_name) %>">
  <div class="gap-12 navbar-start">
    <%= link_to root_path do %>
      <%= render Basic::IconComponent.new(name: "logo", size: "2rem", class_name: "fill-white") %>
    <% end %>

    <div class="flex gap-6">
      <%= render Navbars::Top::LinkItemComponent.new(path: root_path, title: t("nouns.home"), icon_name: "house") %>
      <%= render Navbars::Top::LinkItemComponent.new(path: "#", title: t("nouns.inbox"), icon_name: "tray") %>
    </div>
  </div>

  <div class="navbar-center">
    <%= render Navbars::Top::SearchButtonComponent.new %>
  </div>

  <div class="navbar-end">
    <%= link_to "#" do %>
      <%= image_tag "https://placehold.co/300x300", class: "w-8 h-8 rounded-full" %>
    <% end %>
  </div>
</header>
