<% title = t("meta.title.lists.show") %>
<% set_meta_tags(title:, reverse: false) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <h1>
      <%= title %>
    </h1>

    <%= render Nonoto::UI::Card.new(class_name: "mt-8") do %>
      <%= render Nonoto::UI::Card::Body.new do %>
        <%= @list.name %>

        <div>
          <%= link_to(t("nouns.new_note"), new_note_path(viewer!.space_identifier, @list.number)) %>
        </div>

        <ul>
          <% @notes.each do |note| %>
            <li>
              <%= link_to note.title, note_path(viewer!.space_identifier, note.number) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>
