<nav class="navbar px-4">
  <div class="navbar-start">
    <%= link_to root_path do %>
      <%= render Wikino::UI::Icon.new(name: "logo", size: "36px", class_name: "fill-primary") %>
    <% end %>
  </div>

  <div class="navbar-center">
    <% if signed_in? %>
      <input
        autocomplete="off"
        class="input input-bordered"
        placeholder="Search..."
        type="text"
      >
    <% end %>
  </div>

  <div class="navbar-end">
    <ul class="menu menu-horizontal gap-2 px-1">
      <% if signed_in? %>
        <li>
          <%= button_to t("nouns.sign_out"), session_path(space_identifier: Current.space!.identifier), {
            method: :delete
          } %>
        </li>
      <% else %>
        <li>
          <%= link_to t("nouns.sign_up"), sign_up_path, aria: {disabled: true}, class: "btn btn-disabled btn-ghost" %>
        </li>

        <li>
          <%= link_to t("nouns.sign_in"), sign_in_path, class: "btn btn-ghost" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
