<nav class="navbar">
  <div class="flex-1">
    <%= link_to root_path do %>
      <%= render Wikino::UI::Icon.new(name: "logo", size: "36px", class_name: "fill-primary") %>
    <% end %>
  </div>

  <div class="flex-none">
    <ul class="flex gap-2">
      <% if signed_in? %>
        <li>
          <%= button_to t("nouns.sign_out"), session_path(space_identifier: Current.space!.identifier), {
            method: :delete
          } %>
        </li>
      <% else %>
        <li>
          <%= link_to t("nouns.sign_up"), sign_up_path, aria: {disabled: true}, class: "btn btn-disabled btn-ghost" %>
        </li>

        <li>
          <%= link_to t("nouns.sign_in"), sign_in_path, class: "btn btn-ghost" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
