<% title = t("meta.title.home.show", space_name: Current.space!.name) %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::MainLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <div class="flex items-center justify-between">
      <h1 class="antialiased font-bold text-2xl">
        <%= t("nouns.home") %>
      </h1>

      <% unless signed_in? %>
        <%= link_to atom_path, class: "flex gap-1 items-center link link-primary", target: "_blank" do %>
          <%= render Wikino::UI::Icon.new(name: "rss", size: "16px", class_name: "fill-primary") %>

          <%= t("nouns.rss_feed") %>
        <% end %>
      <% end %>
    </div>

    <hr class="my-4">

    <% if @pinned_pages.present? || @pages.present? %>
      <div class="flex flex-col gap-4">
        <% if @pinned_pages.present? %>
          <div class="gap-2 grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6">
            <% @pinned_pages.each do |page| %>
              <%= render Cards::PageCardComponent.new(page:, class_name: "bg-base-300") %>
            <% end %>
          </div>
        <% end %>

        <% if @pages.present? %>
          <div class="gap-2 grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6">
            <% @pages.each do |page| %>
              <%= render Cards::PageCardComponent.new(page:, class_name: "bg-base-300") %>
            <% end %>
          </div>
        <% end %>

        <div class="flex justify-center">
          <%= render PaginationComponent.new(
            pagination: @pagination,
            previous_path: home_path(before: @pagination.previous_cursor),
            next_path: home_path(after: @pagination.next_cursor)
          ) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
