<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <%= render Topics::Settings::General::ShowView::BreadcrumbsComponent.new(topic:) %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title: t("nouns.general")) %>

      <%= render Basic::CardComponent.new(class_name: "bg-base-300 border border-brand-200") do |card| %>
        <%= card.with_body(class_name: "p-4") do %>
          <%= form_with(
            class: "flex flex-col gap-4",
            model: form,
            url: topic_settings_general_path(space.identifier, topic.number),
            method: :patch
          ) do |f| %>
            <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

            <%= render Topics::Shared::NameFieldComponent.new(form_builder: f) %>
            <%= render Topics::Shared::DescriptionFieldComponent.new(form_builder: f) %>
            <%= render Topics::Shared::VisibilityFieldComponent.new(form_builder: f) %>

            <div class="flex gap-2">
              <%= f.button class: "btn btn-primary no-animation rounded-full w-fit", type: :submit do %>
                <%= render Basic::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-content") %>

                <%= t("verbs.save") %>
              <% end %>

              <%= link_to t("nouns.cancel"), topic_settings_path(space.identifier, topic.number), {
                class: "btn btn-ghost no-animation rounded-full w-fit"
              } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
