<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumb do %>
        <%= render Breadcrumbs::TopicComponent.new(topic:) do |breadcrumb| %>
          <%= breadcrumb.with_item do %>
            <%= link_to t("nouns.settings"), topic_settings_path(space.identifier, topic.number) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: BaseUI::ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title: t("nouns.general")) %>

      <%= render BaseUI::CardComponent.new do |card| %>
        <%= card.with_body(class_name: "px-4") do %>
          <%= form_with(
            class: "form grid gap-6",
            model: form,
            url: topic_settings_general_path(space.identifier, topic.number),
            method: :patch
          ) do |f| %>
            <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

            <%= render Topics::Shared::NameFieldComponent.new(form_builder: f) %>
            <%= render Topics::Shared::DescriptionFieldComponent.new(form_builder: f) %>
            <%= render Topics::Shared::VisibilityFieldComponent.new(form_builder: f) %>

            <div class="flex gap-2">
              <%= f.button class: "btn rounded-full w-fit", type: :submit do %>
                <%= render BaseUI::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-foreground") %>

                <%= t("verbs.save") %>
              <% end %>

              <%= link_to t("nouns.cancel"), topic_settings_path(space.identifier, topic.number), {
                class: "btn-ghost rounded-full w-fit"
              } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
