<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <%= render Topics::Settings::General::ShowView::BreadcrumbsComponent.new(topic:) %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: BaseUI::ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title: t("nouns.topic_deletion")) %>

      <%= render BaseUI::CardComponent.new(class_name: "bg-base-300 border border-brand-200") do |card| %>
        <%= card.with_body(class_name: "p-4") do %>
          <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-4">
              <p>
                <%= t("messages.topics.settings.deletions.new.description_html") %>
              </p>

              <ul class="list-inside list-disc">
                <li>
                  <%= t("messages.topics.settings.deletions.new.warning_1") %>
                </li>

                <li>
                  <%= t("messages.topics.settings.deletions.new.warning_2") %>
                </li>
              </ul>

              <p>
                <%= t("messages.topics.settings.deletions.new.form_description_html", topic_name: topic.name) %>
              </p>
            </div>

            <%= form_with(
              class: "flex flex-col gap-4",
              model: form,
              url: topic_settings_deletion_path(space.identifier, topic.number)
            ) do |f| %>
              <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

              <label class="form-control">
                <div class="label">
                  <span class="label-text">
                    <%= t("forms.attributes.topic_form/destroy_confirmation.topic_name") %>
                  </span>
                </div>

                <%= f.text_field(:topic_name, {
                  class: "bg-base-300 input input-bordered w-full",
                  required: true
                }) %>
              </label>

              <div class="flex gap-2">
                <%= f.button class: "btn btn-primary rounded-full w-fit", type: :submit do %>
                  <%= render BaseUI::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-foreground") %>

                  <%= t("verbs.delete") %>
                <% end %>

                <%= link_to t("nouns.cancel"), topic_settings_path(space.identifier, topic.number), {
                  class: "btn btn-ghost rounded-full w-fit"
                } %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
