<%= form_with(
  data: { controller: "bulk-action-form" },
  model: form,
  url: false
) do |f| %>
  <div class="flex flex-col gap-4">
    <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2">
        <%= f.button(
          class: "btn btn-primary btn-xs rounded-full",
          data: {
            action: "bulk-action-form#disableAllActionButtons",
            bulk_action_form_target: "actionButton"
          },
          formaction: bulk_restored_page_list_path,
          type: :submit
        ) do %>
          <%= render Basic::IconComponent.new(
            name: "arrow-counter-clockwise",
            size: "18px",
            class_name: "fill-primary-foreground"
          ) %>

          <%= t("verbs.restore") %>
        <% end %>

        <% if false %>
        <%= f.button(
          class: "btn btn-primary btn-xs rounded-full text-error",
          data: {
            action: "bulk-action-form#disableAllActionButtons",
            bulk_action_form_target: "actionButton"
          },
          formaction: "#",
          type: :submit
        ) do %>
          <%= render Basic::IconComponent.new(name: "trash", size: "18px", class_name: "fill-error") %>

          <%= t("verbs.delete") %>
        <% end %>
        <% end %>
      </div>

      <div>
        <% pages.each do |page| %>
          <div class="flex items-center gap-4">
            <div class="py-2">
              <%= check_box_tag(
                "page_form_bulk_restoring[page_ids][]",
                page.database_id,
                f.object.page_ids&.include?(page.database_id),
                class: "checkbox"
              ) %>
            </div>

            <div>
              <div class="flex items-center gap-1">
                <%= render Icons::TopicComponent.new(topic: page.topic, size: "12px", class_name: "fill-gray-500") %>

                <span class="text-xs text-gray-500">
                  <%= page.topic.name %>
                </span>
              </div>

              <%= link_to(
                page.title,
                page_path(page.space.identifier, page.number),
                class: "link link-hover"
              ) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
