<%= form_with(
  data: { controller: "bulk-action-form" },
  model: form,
  url: false
) do |f| %>
  <div class="flex flex-col gap-4">
    <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2">
        <%= f.button(
          class: "btn btn-primary btn-xs no-animation rounded-full",
          data: {
            action: "bulk-action-form#disableAllActionButtons",
            bulk_action_form_target: "actionButton"
          },
          formaction: bulk_restored_page_list_path,
          type: :submit
        ) do %>
          <%= render Basic::IconComponent.new(
            name: "arrow-counter-clockwise",
            size: "18px",
            class_name: "fill-secondary-content"
          ) %>

          <%= t("verbs.restore") %>
        <% end %>

        <%= f.button(
          class: "btn btn-primary btn-xs no-animation rounded-full text-error",
          data: {
            action: "bulk-action-form#disableAllActionButtons",
            bulk_action_form_target: "actionButton"
          },
          formaction: root_path,
          type: :button
        ) do %>
          <%= render Basic::IconComponent.new(name: "trash", size: "18px", class_name: "fill-error") %>

          <%= t("verbs.delete") %>
        <% end %>
      </div>

      <div>
        <% page_entities.each do |page_entity| %>
          <div class="flex items-center gap-4">
            <div class="py-2">
              <%= check_box_tag(
                "trashed_pages_form[page_ids][]",
                page_entity.database_id,
                f.object.page_ids&.include?(page_entity.database_id),
                class: "checkbox"
              ) %>
            </div>

            <div>
              <div class="w-[70px] text-xs text-gray-500">
                <%= page_entity.topic_entity.name %>
              </div>

              <%= link_to(
                page_entity.title,
                page_path(page_entity.space_entity.identifier, page_entity.number),
                class: "link link-hover"
              ) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
