<%= render Layouts::Column1Component.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: BaseUI::ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title:) do |main_title| %>
        <%= main_title.with_subtitle do %>
          <%= t("messages.spaces.new_hint_html",
            space_help_link: render(
              BaseUI::LinkComponent.new(
                variant: BaseUI::LinkComponent::Variant::Underline,
                options: {
                  href: "https://wikino.app/s/wikino/pages/16",
                  target: "_blank"
                }
              ).with_content(t("nouns.here"))
            ),
            space_best_practice_help_link: render(
              BaseUI::LinkComponent.new(
                variant: BaseUI::LinkComponent::Variant::Underline,
                options: {
                  href: "https://wikino.app/s/wikino/pages/50",
                  target: "_blank"
                }
              ).with_content(t("nouns.best_practices"))
            )
          ) %>
        <% end %>
      <% end %>

      <%= render BaseUI::CardComponent.new do |card| %>
        <%= card.with_body(class_name: "px-4") do %>
          <%= form_with(
            class: "form grid gap-6",
            model: form,
            url: space_list_path
          ) do |f| %>
            <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

            <div class="grid gap-2">
              <%= render BaseUI::LabelComponent.new(form_builder: f, method: :identifier) %>

              <%= f.text_field(:identifier, autofocus: true, required: true) %>

              <p class="text-muted-foreground text-sm">
                <%= t("messages.spaces.identifier_hint_html", max_length: Space::IDENTIFIER_MAX_LENGTH) %>
              </p>
            </div>

            <div class="grid gap-2">
              <%= render BaseUI::LabelComponent.new(form_builder: f, method: :name) %>

              <%= f.text_field(:name, required: true) %>
            </div>

            <div class="flex gap-2">
              <%= f.button class: "btn rounded-full w-fit", type: :submit do %>
                <%= render BaseUI::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-foreground") %>

                <%= t("verbs.create") %>
              <% end %>

              <%= link_to t("nouns.cancel"), home_path, {
                class: "btn-ghost rounded-full w-fit"
              } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
