<% title = t("meta.title.email_confirmations.edit") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::SimpleComponent.new do %>
  <div class="flex flex-col gap-8 px-4 py-12">
    <div class="text-center">
      <%= link_to root_path, class: "inline-block bg-brand-100 rounded-lg" do %>
        <%= render Basic::IconComponent.new(name: "logo", size: "80px", class_name: "fill-black") %>
      <% end %>
    </div>

    <div class="text-center">
      <h1 class="text-3xl font-bold antialiased">
        <%= title %>
      </h1>

      <p class="mt-4">
        <%= t("messages.email_confirmations.enter_code") %>
      </p>
    </div>

    <%= render Basic::CardComponent.new(class_name: "bg-base-300") do |card| %>
      <%= card.with_body(class_name: "p-4") do %>
        <%= form_with(
          class: "flex flex-col gap-4",
          method: :patch,
          model: @form,
          url: email_confirmation_path(after: params[:after])
        ) do |f| %>
          <%= render Cards::FormErrorsComponent.new(errors: f.object.errors) %>

          <%= f.label :confirmation_code, class: "form-control" do %>
            <div class="label">
              <span class="label-text">
                <%= t("forms.attributes.email_confirmation_form.confirmation_code") %>
              </span>
            </div>

            <%= f.text_field :confirmation_code, autofocus: true, class: "bg-base-300 input input-bordered w-full" %>
          <% end %>

          <%= f.button class: "btn btn-primary no-animation rounded-full w-fit", type: :submit do %>
            <%= render Basic::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-content") %>

            <%= t("verbs.submit") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
