<div class="flex flex-col min-h-[100svh]">
  <div>
    <%= render Navbars::TopNavbarComponent.new %>
  </div>

  <div class="flex flex-1">
    <%= render Sidebars::MainSidebarComponent.new(joined_lists:) %>

    <div class="flex-1">
      <%= content %>
    </div>
  </div>

  <div>
    <%= render FlashToastComponent.new(flash:) %>
    <%= render Navbars::BottomNavbarComponent.new %>
  </div>
</div>
