<div
  class="bg-brand-100"
  data-controller="global-hotkey"
  data-global-hotkey-search-path-target="searchPath"
  <%= "data-global-hotkey-current-space-identifier-value=\"#{current_space.identifier}\"".html_safe if current_space %>
>
  <meta name="search-path" content="<%= search_path %>" data-global-hotkey-target="searchPath">

  <div class="flex">
    <%= render SidebarComponent.new(current_page_name:, current_user:, current_space:) %>

    <div>
      <%= header %>
      <%= main %>
    </div>
  </div>
</div>

<%= render FixedBottomComponent.new(current_page_name:, current_user:, current_space:) %>
