<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumb do %>
        <%= render Breadcrumbs::SettingsComponent.new %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: BaseUI::ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title:) %>

      <%= render BaseUI::CardComponent.new do |card| %>
        <%= card.with_body(class_name: "px-4") do %>
          <%= form_with(
            class: "form grid gap-6",
            model: form,
            url: settings_email_path,
            method: :patch
          ) do |f| %>
            <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

            <div class="grid gap-2">
              <label>
                <%= t("nouns.current_email") %>
              </label>

              <span>
                <%= current_user.email %>
              </span>
            </div>

            <div class="grid gap-2">
              <%= render BaseUI::LabelComponent.new(form_builder: f, method: :new_email) %>

              <%= f.text_field(:new_email, autofocus: true, required: true) %>
            </div>

            <div class="flex gap-2">
              <%= f.button class: "btn rounded-full w-fit", type: :submit do %>
                <%= render BaseUI::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-foreground") %>

                <%= t("verbs.submit") %>
              <% end %>

              <%= link_to t("nouns.cancel"), settings_path, {
                class: "btn-ghost rounded-full w-fit"
              } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
