<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <%= render Settings::Emails::ShowView::BreadcrumbsComponent.new %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: BaseUI::ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title:) %>

      <%= render BaseUI::CardComponent.new do |card| %>
        <%= card.with_body(class_name: "px-4") do %>
          <%= form_with(
            class: "form grid gap-6",
            model: form,
            url: settings_email_path,
            method: :patch
          ) do |f| %>
            <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

            <label class="form-control">
              <div class="label">
                <span class="label-text">
                  <%= t("nouns.current_email") %>
                </span>
              </div>

              <span>
                <%= current_user.email %>
              </span>
            </label>

            <%= f.label :new_email, class: "form-control" do %>
              <div class="label">
                <span class="label-text">
                  <%= t("forms.attributes.email_form/edit.new_email") %>
                </span>
              </div>

              <%= f.text_field(:new_email,
                autofocus: true,
                class: "bg-base-300 input input-bordered w-full",
                required: true
              ) %>
            <% end %>

            <div class="flex gap-2">
              <%= f.button class: "btn rounded-full w-fit", type: :submit do %>
                <%= render BaseUI::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-foreground") %>

                <%= t("verbs.submit") %>
              <% end %>

              <%= link_to t("nouns.cancel"), settings_path, {
                class: "btn btn-ghost rounded-full w-fit"
              } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
