<turbo-frame id="switchable-accounts">
  <ul class="menu w-52 rounded-box bg-base-300 p-0 shadow">
    <% @users.each do |user| %>
      <li class="p-2">
        <%= button_to account_switch_path(Current.space!.identifier, user.id), {
          class: "text-left w-full",
          data: {turbo: false},
          form_class: "px-2",
        } do %>
          <div class="font-bold">
            <%= user.space.name %>
          </div>

          <div class="text-sm text-gray-400">
            @<%= user.atname %>
          </div>
        <% end %>
      </li>
    <% end %>

    <% if @users.present? %>
      <li class="m-0 border-t border-gray-900"></li>
    <% end %>

    <li class="p-2">
      <%= link_to(
        sign_in_path(skip_no_authentication: true),
        class: "flex gap-2 items-center px-2",
        data: {turbo_frame: "_top"}
      ) do %>
        <%= render Wikino::UI::Icon.new(name: "user-plus", size: "14px", class_name: "fill-base-content") %>

        <span>
          <%= t("verbs.add_account") %>
        </span>
      <% end %>
    </li>
  </ul>
</turbo-frame>
