<div class="flex items-center justify-between">
  <div class="flex flex-col gap-2">
    <h1 class="text-2xl font-bold antialiased">
      <%= topic_entity.name %>
    </h1>

    <% if topic_entity.description.present? %>
      <p class="text-sm text-gray-500">
        <%= topic_entity.description %>
      </p>
    <% end %>
  </div>

  <div class="flex gap-2">
    <% if topic_entity.viewer_can_create_page? %>
      <%= link_to new_page_path(space_entity.identifier, topic_entity.number), {
        class: "btn btn-sm btn-primary no-animation rounded-full"
      } do %>
        <%= render Basic::IconComponent.new(name: "pencil-simple-line", size: "18px", class_name: "fill-primary-content") %>

        <%= t("nouns.new_page") %>
      <% end %>
    <% end %>

    <%= render Dropdowns::TopicOptionsComponent.new(signed_in:, topic_entity:) %>
  </div>
</div>
