<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <div class="breadcrumbs py-1 text-sm">
          <ul>
            <li>
              <%= link_to t("nouns.settings"), settings_path %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: BaseUI::ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title:) %>

      <%= render BaseUI::CardComponent.new do |card| %>
        <%= card.with_body(class_name: "px-4") do %>
          <div class="form grid gap-6">
            <p>
              <%= t("messages.two_factor_auth.recovery_codes_description_html") %>
            </p>

            <div class="bg-base-100 rounded p-4">
              <h3 class="mb-4 font-semibold">
                <%= t("nouns.recovery_codes") %>
              </h3>

              <div class="grid grid-cols-2 gap-2">
                <% user_two_factor_auth.recovery_codes.each do |recovery_code| %>
                  <code class="text-sm">
                    <%= recovery_code %>
                  </code>
                <% end %>
              </div>
            </div>

            <div class="alert alert-info">
              <%= t("messages.two_factor_auth.save_recovery_codes_html") %>
            </div>
          </div>

          <hr class="my-4">

          <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
              <h3 class="text-lg font-semibold">
                <%= t("nouns.regenerate_recovery_codes") %>
              </h3>

              <p class="text-sm text-gray-600">
                <%= t("messages.two_factor_auth.regenerate_warning") %>
              </p>
            </div>

            <%= form_with(
              class: "form grid gap-6",
              model: form,
              url: settings_two_factor_auth_recovery_code_list_path
            ) do |f| %>
              <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

              <div class="grid gap-2">
                <%= render BaseUI::LabelComponent.new(form_builder: f, method: :password) %>

                <%= f.password_field(:password, autocomplete: "current-password") %>
              </div>

              <div class="flex gap-2">
                <%= f.button(
                  class: "btn rounded-full w-fit",
                  data: { turbo_confirm: t("messages.two_factor_auth.regenerate_confirmation") },
                  type: :submit
                ) do %>
                  <%= t("verbs.regenerate_recovery_codes") %>
                <% end %>

                <%= link_to t("nouns.cancel"), settings_two_factor_auth_path, {
                  class: "btn-ghost rounded-full w-fit"
                } %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
