<% title = @page.title %>
<% set_meta_tags(title: "#{title} | #{viewer!.space_name}") %>

<%= render ::Layouts::MainLayoutComponent.new do %>
  <div class="flex flex-col gap-4 p-4">
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-2">
        <h1 class="antialiased font-bold text-2xl">
          <%= title %>
        </h1>

        <div class="text-gray-400 text-sm">
          <%= @page.published_at %>
        </div>
      </div>

      <%= link_to edit_page_path(viewer!.space_identifier, @page.number), {
        class: "btn btn-primary no-animation"
      } do %>
        <%= render Wikino::UI::Icon.new(name: "pencil-simple-line", size: "18px", class_name: "fill-primary-content") %>

        <%= t("verbs.edit") %>
      <% end %>
    </div>

    <hr>

    <div class="wikino-markdown">
      <%= @page.body_html.html_safe %>
    </div>

    <div>
      <%= render Footers::PageFooterComponent.new(
        link_collection: @link_collection,
        backlink_collection: @backlink_collection
      ) %>
    </div>
  </div>
<% end %>
