<%= render Layouts::BasicComponent.new(current_page_name:, current_user:) do |layout| %>
  <%= layout.with_header do %>
    <%= render Headers::GlobalComponent.new(current_user:, current_page_name:) do |header| %>
      <%= header.with_breadcrumbs do %>
        <%= render Breadcrumbs::SettingsComponent.new %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_main do %>
    <%= render Containers::MainComponent.new(
      content_screen: BaseUI::ContainerComponent::ContentScreen::Small
    ) do %>
      <%= render Headers::MainTitleComponent.new(title:) %>

      <%= render BaseUI::CardComponent.new do |card| %>
        <%= card.with_body(class_name: "px-4") do %>
          <%= form_with(
            class: "form grid gap-6",
            model: form,
            url: settings_profile_path,
            method: :patch
          ) do |f| %>
            <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

            <div class="grid gap-2">
              <%= render BaseUI::LabelComponent.new(form_builder: f, method: :atname) %>

              <%= f.text_field(:atname, required: true) %>

              <p class="text-muted-foreground text-sm">
                <%= t("messages.profiles.atname_hint_html", max_length: User::ATNAME_MAX_LENGTH) %>
              </p>
            </div>

            <div class="grid gap-2">
              <%= render BaseUI::LabelComponent.new(form_builder: f, method: :name, optional: true) %>

              <%= f.text_field(:name) %>

              <p class="text-muted-foreground text-sm">
                <%= t("messages.profiles.name_hint", max_length: User::NAME_MAX_LENGTH) %>
              </p>
            </div>

            <div class="grid gap-2">
              <%= render BaseUI::LabelComponent.new(form_builder: f, method: :description, optional: true) %>

              <%= f.text_field(:description) %>

              <p class="text-muted-foreground text-sm">
                <%= t("messages.profiles.description_hint", max_length: User::DESCRIPTION_MAX_LENGTH) %>
              </p>
            </div>

            <div class="flex gap-2">
              <%= f.button class: "btn rounded-full w-fit", type: :submit do %>
                <%= render BaseUI::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-foreground") %>

                <%= t("verbs.save") %>
              <% end %>

              <%= link_to t("nouns.cancel"), settings_path, {
                class: "btn-ghost rounded-full w-fit"
              } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_footer do %>
    <%= render Footers::GlobalComponent.new(signed_in: true) %>
  <% end %>
<% end %>
