<header>
  <%# PCサイズ %>
  <div class="mx-auto hidden min-h-auto w-full max-w-(--content-screen-max-width-medium) justify-between p-4 md:flex">
    <div class="flex items-center gap-4">
      <% if show_sidebar %>
        <%# サイドバー開くボタン (md以上xl未満) %>
        <button
          data-action="click->sidebar#open"
          class="hover:bg-brand-200 hidden cursor-pointer rounded-md p-2 transition-colors md:block xl:hidden"
          aria-label="<%= t('nouns.menu') %>"
        >
          <%= render BaseUI::IconComponent.new(name: "sidebar-regular", size: "24px", class_name: "fill-base-content") %>
        </button>
      <% end %>

      <%= render Links::BrandIconComponent.new(current_page_name:) %>

      <%= breadcrumb %>
    </div>
  </div>

  <%# モバイルサイズ %>
  <% if breadcrumb? %>
    <div class="flex items-center gap-4 px-4 pt-4 md:hidden">
      <%= breadcrumb %>
    </div>
  <% end %>
</header>
