<header class="static md:sticky md:top-0 md:z-navbar">
  <%# PCサイズ %>
  <div
    class="<%= class_names("
      bg-base-200 data-[stuck]:drop-shadow-sm data-[stuck]:py-2 py-6 transition-all duration-200
      ease-in-out hidden md:block
    ") %>"
    data-controller="stuck"
  >
    <div class="navbar mx-auto min-h-[auto] w-full max-w-screen-lg px-4 py-0">
      <div class="gap-4 md:navbar-start">
        <%= render Links::BrandIconComponent.new(current_page_name:) %>

        <%= breadcrumbs %>
      </div>

      <div class="navbar-end hidden md:flex">
        <%= render NavbarComponent.new(signed_in:, current_page_name:) %>
      </div>
    </div>
  </div>

  <%# モバイルサイズ %>
  <% if breadcrumbs? %>
    <div class="flex items-center gap-4 px-4 pt-4 md:hidden">
      <%= breadcrumbs %>
    </div>
  <% end %>
</header>
