<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Nonoto</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="<%= "#{request.protocol}#{request.host_with_port}#{request.path}" %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script>
      <%# Set this config to rerender icon when Vue's state changed %>
      window.FontAwesomeConfig = { autoReplaceSvg: 'nest' };
    </script>
    <script data-mutate-approach="sync" crossorigin="anonymous" src="https://kit.fontawesome.com/0099029c12.js" defer></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
