<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= yield :page_title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="<%= "#{request.protocol}#{request.host_with_port}#{request.path}" %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
      <%# Set this config to rerender icon when Vue's state changed %>
      window.FontAwesomeConfig = { autoReplaceSvg: 'nest' };
    </script>
    <script data-mutate-approach="sync" crossorigin="anonymous" src="https://kit.fontawesome.com/0099029c12.js" defer></script>

    <% if site_theme == "dark" %>
      <%= stylesheet_bundle_tag "dark.css", media: "all", "data-turbolinks-track": "reload" %>
    <% else %>
      <%= stylesheet_bundle_tag "light.css", media: "all", "data-turbolinks-track": "reload" %>
    <% end %>

    <%= javascript_bundle_tag "web.js", defer: "", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "application/navbar" %>
    <%= render FlashComponent.new(flash) %>
    <%= yield %>
  </body>
</html>
