<%= render Layouts::SimpleComponent.new(current_page_name:) do %>
  <div class="flex flex-col gap-8 px-4 py-12">
    <div class="text-center">
      <%= link_to root_path, class: "inline-block bg-brand-100 rounded-lg" do %>
        <%= render BaseUI::IconComponent.new(name: "logo", size: "80px", class_name: "fill-black") %>
      <% end %>
    </div>

    <div class="text-center">
      <h1 class="text-3xl font-bold antialiased">
        <%= title %>
      </h1>
    </div>

    <%= render BaseUI::CardComponent.new(class_name: "bg-base-300") do |card| %>
      <%= card.with_body(class_name: "px-4") do %>
        <%= form_with(
          class: "form grid gap-6",
          model: @form,
          url: account_list_path
        ) do |f| %>
          <%= render BaseUI::FormErrorsComponent.new(errors: f.object.errors) %>

          <div class="grid gap-2">
            <%= f.label :email %>

            <%= text_field_tag(:email, f.object.email, {
              autocomplete: "off",
              class: "bg-gray-300",
              disabled: true
            }) %>

            <p class="text-muted-foreground text-sm">
              <%= t("messages.accounts.email_hint_html") %>
            </p>
          </div>

          <div class="grid gap-2">
            <%= f.label :atname %>

            <%= f.text_field(:atname,
              autofocus: true,
              required: true
            ) %>

            <p class="text-muted-foreground text-sm">
              <%= t("messages.accounts.atname_hint_html", max_length: User::ATNAME_MAX_LENGTH) %>
            </p>
          </div>

          <div class="grid gap-2">
            <%= f.label :password %>

            <%= f.password_field(:password,
              autocomplete: "new-password",
              required: true
            ) %>

            <p class="text-muted-foreground text-sm">
              <%= t("messages.accounts.password_hint_html") %>
            </p>
          </div>

          <%= f.button class: "btn btn-primary rounded-full w-fit", type: :submit do %>
            <%= render BaseUI::IconComponent.new(name: "paper-plane-tilt", size: "18px", class_name: "fill-primary-foreground") %>

            <%= t("verbs.sign_up") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <p class="text-center text-sm">
      <%= t("messages.accounts.terms_html") %>
    </p>
  </div>
<% end %>
